<app-header></app-header>
<section>
  <div class="container">
    <p class="h1 mb-2 title">Privacy Policy</p>
    <p>
      At AgriBridge, we take your privacy seriously. This Privacy Policy
      outlines how we collect, use, disclose, and safeguard your personal
      information when you use our website and services.
    </p>

    <h2 style="margin-top: 2rem">Information We Collect</h2>
    <p>
      <b>Personal Information</b>: When you register for an account or use our
      services, we may collect personal information such as your name, email
      address, contact information, and other details necessary to provide our
      services.
    </p>
    <p>
      <b>Usage Data</b>: We may collect information about how you use our
      website, including your IP address, browser type, device information, and
      page views.
    </p>
    <p>
      <b>Cookies</b>: We use cookies and similar tracking technologies to
      enhance your experience on our website. You can manage cookie preferences
      through your browser settings.
    </p>

    <h2 style="margin-top: 2rem">How We Use Your Information</h2>
    <p>
      <b>Service Delivery</b>: We use your information to provide and improve
      our services, including connecting farmers, retailers, and suppliers on
      our platform.
    </p>
    <p>
      <b> Communication</b>: We may contact you regarding account updates,
      service announcements, and other relevant information.
    </p>
    <p>
      <b>Analytics</b>: We analyze user data to improve our website and
      services, and to understand user preferences and trends.
    </p>

    <h2 style="margin-top: 2rem">Data Sharing</h2>
    <p>
      We do not sell, trade, or rent your personal information to third parties.
      However, we may share your data with trusted partners and service
      providers who assist us in delivering our services. We require these
      entities to maintain the confidentiality of your information.
    </p>

    <h2 style="margin-top: 2rem">Data Security</h2>
    <p>
      We take data security seriously and employ reasonable measures to protect
      your data. However, no method of transmission over the internet or
      electronic storage is completely secure, and we cannot guarantee absolute
      security.
    </p>

    <h2 style="margin-top: 2rem">Changes to this Privacy Policy</h2>
    <p>
      We may update this Privacy Policy from time to time. We will notify you of
      any significant changes through email or by prominently posting a notice
      on our website.
    </p>

    <p style="margin-top: 2rem">
      <i
        >By using our website and services, you consent to the terms of this
        Privacy Policy.</i
      >
    </p>
  </div>
</section>
<div class="wave-container2"></div>
<app-footer></app-footer>
