<div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
  <div class="main" data-aos="fade-right" data-aos-duration="333">
    <div class="container">
      <div class="row">
        <div class="col">
          <p
            class="h1 text-light header mb-3 mt-3"
            data-aos="fade-right"
            data-aos-duration="333"
          >
            ADD COURSE
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <form data-aos="fade-right">
                <div
                  class="form-floating mb-3"
                  data-aos="fade-right"
                  data-aos-duration="333"
                >
                  <input
                    type="text"
                    class="form-control"
                    id="course_name"
                    placeholder="course_name"
                    required
                  />
                  <label for="course_name">Course Name*</label>
                </div>
                <div class="form-floating mb-3" data-aos="fade-right">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="description"
                    style="height: 200px"
                    required
                  ></textarea>
                  <label for="description">Description*</label>
                </div>
                <div
                  class="form-floating mb-3"
                  data-aos="fade-right"
                  data-aos-duration="333"
                >
                  <input
                    type="number"
                    class="form-control"
                    id="duration_in_days"
                    placeholder="duration_in_days"
                    required
                  />
                  <label for="duration_in_days">Duration (in days)*</label>
                </div>
                <div
                  class="d-flex flex-row-reverse"
                  data-aos="fade-right"
                  data-aos-duration="333"
                >
                  <button class="btn btn-danger" [routerLink]="['']">
                    <fa-icon
                      [icon]="faCancel"
                      [animation]="'bounce'"
                      [size]="'lg'"
                    ></fa-icon>
                    Cancel
                  </button>

                  <button class="btn btn-primary me-2">
                    <fa-icon
                      [icon]="faAdd"
                      [animation]="'bounce'"
                      [size]="'lg'"
                    ></fa-icon
                    >&nbsp; Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
