<app-side-nav>
  <section class="section">
    <div class="container">
      <div style="margin-bottom: 3rem">
        <p class="h1 mb-3 title">Unlock Your Potential with FREE Courses!</p>
      </div>
      <p-tabView>
        <p-tabPanel header="Available Courses">
          <div
            data-aos="fade-right"
            class="item-container"
            data-aos-duration="333"
          >
            <div
              class="items"
              *ngFor="
                let course of (selectCourses$ | async)?.slice(
                  startIndex(),
                  endIndex()
                )
              "
            >
              <h1
                class="course-name"
                [pTooltip]="course.courseName"
                tooltipPosition="top"
              >
                {{ course.courseName | slice : 0 : 20
                }}<span *ngIf="course.courseName.length > 20">...</span>
              </h1>
              <div>
                <p class="d-flex flex-column" style="margin-top: 10px">
                  <span class="h5"
                    >Training Duration: {{ course.durationInDays }}
                    {{ course.durationInDays == 1 ? "Day" : "Days" }}</span
                  >
                </p>
                <p style="margin-top: -1rem">
                  {{ course.description | slice : 0 : 110
                  }}<span *ngIf="course.description.length > 110">...</span>
                </p>
              </div>

              <div class="action-container">
                <p
                  *ngIf="selectCourseEnrolledByCourseId$(course) | async"
                  style="color: red"
                >
                  <i>You are currently enrolled in this course</i>
                </p>

                <button
                  *ngIf="!(selectCourseEnrolledByCourseId$(course) | async)"
                  class="btn btn-success"
                  (click)="enrollCourse(course)"
                >
                  Enroll
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="noAvailableCourses" class="no-info">
            <img class="no-info-image" src="assets/images/no-enroll.png" />
            <div class="no-info-text">
              <h1>No available courses yet.</h1>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3 mt-3">
                <div class="pagination pagination-md justify-content-end">
                  <li class="page-item">
                    <button
                      class="page-link"
                      [disabled]="currentPage === 1"
                      (click)="changePage(currentPage - 1)"
                    >
                      Previous
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" disabled>
                      {{ currentPage }}
                    </button>
                  </li>

                  <li class="page-item">
                    <button
                      class="page-link"
                      [disabled]="
                        endIndex() >= (selectCourses$ | async)!.length
                      "
                      (click)="changePage(currentPage + 1)"
                    >
                      Next
                    </button>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Enrolled Courses">
          <div class="item-container">
            <div
              class="items"
              *ngFor="
                let course of (selectCoursesEnrolled$ | async)?.slice(
                  startIndex(),
                  endIndex()
                )
              "
            >
              <h1
                class="course-name"
                [pTooltip]="course.course.courseName"
                tooltipPosition="top"
              >
                {{ course.course.courseName | slice : 0 : 20
                }}<span *ngIf="course.course.courseName.length > 20">...</span>
              </h1>
              <div>
                <p class="d-flex flex-column" style="margin-top: 10px">
                  <span class="h5">Training Period:</span>
                  <span style="margin-top: -10px"
                    >{{ course.enrollmentDate | date }} -
                    {{ course.endOfEnrollment | date }}</span
                  >
                </p>

                <p style="margin-top: 1rem">
                  {{ course.course.description | slice : 0 : 100
                  }}<span *ngIf="course.course.description.length > 100"
                    >...</span
                  >
                </p>
              </div>
              <div class="action-container">
                <button
                  class="btn btn-success"
                  (click)="viewCourse(course.course.courseId)"
                >
                  View
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="noEnrolledCourse" class="no-info">
            <img class="no-info-image" src="assets/images/no-enroll.png" />
            <div class="no-info-text">
              <p>
                Discover the world of knowledge with our free courses! Enroll
                today and embark on your learning journey.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="mb-3 mt-3">
                <div class="pagination pagination-md justify-content-end">
                  <li class="page-item">
                    <button
                      class="page-link"
                      [disabled]="currentPage === 1"
                      (click)="changePage(currentPage - 1)"
                    >
                      Previous
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" disabled>
                      {{ currentPage }}
                    </button>
                  </li>

                  <li class="page-item">
                    <button
                      class="page-link"
                      [disabled]="
                        endIndex() >= (selectCoursesEnrolled$ | async)!.length
                      "
                      (click)="changePage(currentPage + 1)"
                    >
                      Next
                    </button>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>
</app-side-nav>

<!-- modal -->
<p-dialog
  header="Verify account"
  [modal]="true"
  [(visible)]="isNotValidated"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div *ngIf="!user.user?.isValidated">
    <div class="verify-container">
      <img class="verify-image" src="assets/images/verify-acc.png" />
      <h1>Your account is not yet verified.</h1>
      <p>Verify your account on your profile page to proceed.</p>
      <button
        style="margin-top: 1rem"
        pButton
        class="offer-btn"
        [routerLink]="['/farmer/profile']"
      >
        Profile
      </button>
    </div>
  </div>
</p-dialog>
