.mainBg {
  display: flex;
  justify-content: center;
  background-image: url("./../../../../../assets/images/grains.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 40px;
}

.main {
  padding: 30px;
  border-radius: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  background-color: white;
  transform: scale(0.9, 0.9);
  padding: 50px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  color: darkgreen;
  border: 1px solid darkgreen;
}

.items:hover {
  transition: 0.3s ease-in-out;
  color: white;
  transform: scale(0.95, 0.95);
  box-shadow: 1px 1px 15px black;
  background: rgb(78, 78, 78);
  background: linear-gradient(45deg, rgba(78, 78, 78, 1) 0%, rgba(139, 139, 139, 1) 34%, rgba(52, 181, 112, 1) 59%, rgba(81, 94, 90, 1) 92%);
}

.header {
  text-shadow: 1px 1px 10px black;
}
