.section {
  background-color: #e8f4ef;
  min-height: 100vh;
  padding: 40px;
}

.container {
  height: 100%;
}

.title {
  font-family: "Circular Std";
  color: #2d5605;
  font-weight: bold;
}

::ng-deep .p-tabview .p-tabview-panels,
::ng-deep .p-tabview .p-tabview-nav {
  // white
  background-color: #e8f4ef;
}

::ng-deep .p-tabview .p-tabview-panels {
  padding: 0;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background-color: #e8f4ef;
}

::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
  background-color: transparent;
}

::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  border-color: #2d5605;
  color: #2d5605;
}

.item-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.mainBg {
  display: flex;
  justify-content: center;
  background-image: url("./../../../../../assets/images/grains.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 40px;
}

.main {
  padding: 30px;
  border-radius: 10px;
}

.items {
  display: flex;
  flex-direction: column;
  background-color: white;
  transform: scale(0.9, 0.9);
  padding: 1rem;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  color: black;
  width: 21.5rem;
  height: 18rem;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

.items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-image: url("./../../../../../assets/images/courses-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.items:hover {
  transition: 0.3s ease-in-out;
  color: black;
  transform: scale(0.95, 0.95);
  box-shadow: 1px 1px 15px black;
  //background: rgb(78, 78, 78);
  // background: linear-gradient(
  //   45deg,
  //   rgba(78, 78, 78, 1) 0%,
  //   rgba(139, 139, 139, 1) 34%,
  //   rgba(52, 181, 112, 1) 59%,
  //   rgba(81, 94, 90, 1) 92%
  // );
}

.course-name {
  margin-top: 3.5rem;
  font-size: 1.7rem;
  color: #f2f2f2;
}

.action-container {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  justify-content: flex-end;
}

.no-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.no-info-image {
  width: 50%;
  height: 50%;
}

.no-info-text {
  text-align: center;
  color: #2d5605;
  margin-bottom: 2rem;
}

.no-info-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Circular Std";
}

.no-info-text p {
  font-family: "Circular Std";
  margin-bottom: -1px;
  font-size: 1.5rem;
}

.verify-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.verify-image {
  width: 50%;
  height: 50%;
}

.verify-container h1 {
  font-size: 2rem;
  color: #2d5605;
  font-family: "Circular Std";
}

.verify-container p {
  margin-top: -10px;
  font-size: 1.1rem;
}

.p-button.offer-btn {
  border: 1px solid #2d5605;
  background-color: #2d5605;
  color: #f9f9f9;
  border-radius: 25px;
  text-align: center;
  height: 3rem;
}

.p-button.offer-btn:hover {
  border: 1px solid #2d5605;
  background-color: transparent;
  color: #2d5605;
}

@media (max-width: 800px) {
  .verify-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .verify-container p {
    text-align: center;
    font-size: 1rem;
  }
}
