<app-header> </app-header>
<section>
  <div class="container">
    <p class="h1 mb-5 title">Our Process</p>
    <ul>
      <li style="--accent-color: #18332f">
        <div class="date">Farm-to-Market Integration</div>
        <div class="title"></div>
        <div class="descr">
          Our process begins by integrating farmers, retailers, and suppliers
          into our digital platform. Farmers can easily list their products, and
          retailers can access a wide variety of fresh produce and supplies.
        </div>
      </li>
      <li style="--accent-color: #18332f">
        <div class="date">Real-Time Marketplace</div>
        <div class="title"></div>
        <div class="descr">
          AgriBridge operates as a real-time marketplace, ensuring that
          suppliers and retailers have up-to-date information on product
          availability, pricing, and demand. This transparency drives efficient
          transactions.
        </div>
      </li>
      <li style="--accent-color: #18332f">
        <div class="date">Quality Assurance</div>
        <div class="title"></div>
        <div class="descr">
          Quality is paramount in agriculture. We facilitate quality assurance
          checks at various stages, ensuring that products meet the highest
          standards before they reach retailers and consumers.
        </div>
      </li>
      <li style="--accent-color: #18332f">
        <div class="date">Sustainable Sourcing</div>
        <div class="title"></div>
        <div class="descr">
          AgriBridge is committed to sustainable sourcing practices. We connect
          retailers with local farmers, reducing the carbon footprint associated
          with long-distance transportation.
        </div>
      </li>
      <li style="--accent-color: #18332f">
        <div class="date">User Support and Training</div>
        <div class="title"></div>
        <div class="descr">
          AgriBridge offers comprehensive user support and training. We ensure
          that farmers, retailers, and suppliers can make the most of our
          platform, maximizing their benefits.
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="wave-container2"></div>
<app-footer></app-footer>
