<app-loader></app-loader>
<app-side-nav>
  <section>
    <div class="container">
      <div class="profile-container">
        <div class="left-container">
          <p-card>
            <div class="image-container">
              <img
                class="user-image"
                [src]="user.user?.image || 'assets/images/user-icon.png'"
              />
            </div>
            <div class="left-text">
              <h3>
                <ng-container *ngIf="user.user?.isValidated">
                  <i class="pi pi-verified verified-icon"></i>
                </ng-container>
                <b>{{
                  user.user?.lastName +
                    ", " +
                    user.user?.firstName +
                    " " +
                    user.user?.middleName
                }}</b>
              </h3>
              <div class="social-container">
                <div class="social-icon-container">
                  <a
                    href="{{ facebookLink || 'https://www.facebook.com/' }}"
                    target="_blank"
                  >
                    <img class="social-icon" src="assets/images/fb-icon.png" />
                  </a>
                </div>
                <div class="social-icon-container">
                  <a
                    href="{{ instagramLink || 'https://www.instagram.com/' }}"
                    target="_blank"
                  >
                    <img class="social-icon" src="assets/images/ig-icon.png" />
                  </a>
                </div>
              </div>
              <div class="left-user-det">
                <div class="left-user-det-content">
                  <div class="user-det-icon-container">
                    <img
                      class="user-det-icon"
                      src="assets/images/mobile-icon.png"
                    />
                  </div>

                  <div class="user-det-text">
                    <p><b>Mobile number</b></p>
                    <h4>{{ user.user?.contactNo }}</h4>
                  </div>
                </div>
                <mat-divider></mat-divider>

                <div class="left-user-det-content">
                  <div class="user-det-icon-container">
                    <img
                      class="user-det-icon"
                      src="assets/images/email-icon.png"
                    />
                  </div>

                  <div class="user-det-text">
                    <p><b>Email</b></p>
                    <h4>{{ user.user?.email }}</h4>
                  </div>
                </div>

                <mat-divider></mat-divider>

                <div class="left-user-det-content">
                  <div class="user-det-icon-container">
                    <img
                      class="user-det-icon"
                      src="assets/images/calendar-icon.png"
                    />
                  </div>

                  <div class="user-det-text">
                    <p><b>Birthday</b></p>
                    <h4>{{ user.user?.birthDate | date }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </p-card>
        </div>
        <div class="right-container">
          <div class="verify-container" *ngIf="!user.user?.isValidated">
            <button pButton class="verify-btn" (click)="toggleVerifyActBtn()">
              <i class="pi pi-verified" style="margin-right: 1rem"></i> Verify
              account
            </button>
          </div>
          <p-card>
            <div class="right-header">
              <div class="header-text">
                <h1><b>Profile Details</b></h1>
              </div>

              <div class="edit-button-container">
                <button
                  pButton
                  pRipple
                  label="Edit"
                  icon="pi pi-user-edit"
                  iconPos="right"
                  class="edit-button"
                  (click)="showEditProfileDetDialog()"
                ></button>
              </div>
            </div>

            <div class="profile-second">
              <div class="left-second">
                <div class="second-subtext">
                  <p class="label">First name</p>
                  <p>{{ user.user?.firstName }}</p>
                </div>

                <div class="second-subtext">
                  <p class="label">Middle name</p>
                  <p>{{ user.user?.middleName }}</p>
                </div>

                <div class="second-subtext">
                  <p class="label">Civil status</p>
                  <p>{{ user.user?.civilStatus }}</p>
                </div>

                <div class="second-subtext res-second-subtext">
                  <p class="label">Address</p>
                  <p style="line-height: 16px">
                    {{ user.user?.address }}
                  </p>
                </div>
              </div>

              <div class="right-second">
                <div class="second-subtext">
                  <p class="label">Last name</p>
                  <p>{{ user.user?.lastName }}</p>
                </div>

                <div class="second-subtext">
                  <p class="label">Gender</p>
                  <p>{{ user.user?.gender }}</p>
                </div>

                <div class="second-subtext">
                  <p class="label">Nationality</p>
                  <p>{{ user.user?.nationality }}</p>
                </div>
              </div>
            </div>
          </p-card>

          <div style="margin-top: 1rem">
            <p-card>
              <div class="right-header">
                <div class="header-text">
                  <h1><b>Account Details</b></h1>
                </div>

                <div class="edit-button-container">
                  <button
                    pButton
                    label="Edit"
                    icon="pi pi-user-edit"
                    iconPos="right"
                    class="edit-button"
                    (click)="showEditPasswordDetDialog()"
                  ></button>
                </div>
              </div>
              <div class="profile-third">
                <div class="left-second">
                  <div class="second-subtext third-subtext">
                    <p class="label">Username</p>
                    <p>{{ user.user?.username }}</p>
                  </div>
                </div>
                <div class="right-second">
                  <div class="second-subtext third-subtext">
                    <p class="label">Current password</p>
                    <p>********</p>
                  </div>
                </div>
              </div>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </section>
</app-side-nav>
<!-- Edit profile modal -->
<p-dialog
  header="Edit Profile Details"
  [(visible)]="editProfileDetail"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div>
    <div class="container">
      <div class="center-container">
        <div class="change-image-container">
          <img
            *ngIf="imagePreviewUrl"
            class="profile-image"
            [src]="imagePreviewUrl"
          />
          <img
            *ngIf="!imagePreviewUrl"
            class="profile-image"
            src="assets/images/user-icon.png"
          />
          <div class="camera-icon-container">
            <button mat-icon-button (click)="selectFile.click()">
              <mat-icon>photo_camera</mat-icon>
            </button>
          </div>
        </div>

        <input
          hidden
          type="file"
          id="img"
          value="select"
          #selectFile
          (change)="onImageSelected($event)"
        />

        <div *ngIf="isMaxSize">
          <p [ngStyle]="{ color: 'red' }">Image size is too large</p>
        </div>
      </div>

      <form [formGroup]="personalInfoForm">
        <h4><i>Required Fields *</i></h4>
        <div class="form-field">
          <label>First name *</label>
          <div>
            <input
              [ngClass]="{
                'invalid-field':
                  personalInfoForm.controls['firstName'].invalid &&
                  (personalInfoForm.controls['firstName'].dirty ||
                    personalInfoForm.controls['firstName'].touched)
              }"
              formControlName="firstName"
              type="text"
              pInputText
            />
          </div>
        </div>

        <div class="form-field">
          <label>Middle name </label>
          <div>
            <input formControlName="middleName" type="text" pInputText />
          </div>
        </div>

        <div class="form-field">
          <label>Last name *</label>
          <div>
            <input
              [ngClass]="{
                'invalid-field':
                  personalInfoForm.controls['lastName'].invalid &&
                  (personalInfoForm.controls['lastName'].dirty ||
                    personalInfoForm.controls['lastName'].touched)
              }"
              formControlName="lastName"
              type="text"
              pInputText
            />
          </div>
        </div>

        <div class="form-field">
          <label>Birthdate *</label>
          <div>
            <p-calendar
              [ngClass]="{
                'spec-field':
                  personalInfoForm.controls['birthDate'].invalid &&
                  (personalInfoForm.controls['birthDate'].dirty ||
                    personalInfoForm.controls['birthDate'].touched)
              }"
              formControlName="birthDate"
              [showIcon]="true"
              [maxDate]="dateToday"
            ></p-calendar>
          </div>
          <div
            class="invalid-text"
            *ngIf="personalInfoForm.get('birthDate')?.hasError('underage')"
          >
            Age must be at least 18 years old.
          </div>
        </div>

        <div class="form-field">
          <label>Gender *</label>
          <div>
            <p-dropdown
              [ngClass]="{
                'spec-field':
                  personalInfoForm.controls['gender'].invalid &&
                  (personalInfoForm.controls['gender'].dirty ||
                    personalInfoForm.controls['gender'].touched)
              }"
              formControlName="gender"
              placeholder="Select gender"
              [options]="genders"
              optionLabel="gender"
              optionValue="gender"
            ></p-dropdown>
          </div>
        </div>

        <div class="form-field">
          <label>Nationality *</label>
          <div>
            <input
              [ngClass]="{
                'invalid-field':
                  personalInfoForm.controls['nationality'].invalid &&
                  (personalInfoForm.controls['nationality'].dirty ||
                    personalInfoForm.controls['nationality'].touched)
              }"
              formControlName="nationality"
              type="text"
              pInputText
            />
          </div>
        </div>

        <div class="form-field">
          <label>Civil status *</label>
          <div>
            <p-dropdown
              [ngClass]="{
                'spec-field':
                  personalInfoForm.controls['civilStatus'].invalid &&
                  (personalInfoForm.controls['civilStatus'].dirty ||
                    personalInfoForm.controls['civilStatus'].touched)
              }"
              formControlName="civilStatus"
              placeholder="Select civil status"
              [options]="civilStatus"
              optionLabel="status"
              optionValue="status"
            ></p-dropdown>
          </div>
        </div>

        <p-divider align="left">
          <div class="inline-flex align-items-center" style="margin-top: 1rem">
            <h1>Contact Details</h1>
          </div>
        </p-divider>
        <div class="form-field">
          <label>Address *</label>
          <div>
            <input
              [ngClass]="{
                'invalid-field':
                  personalInfoForm.controls['address'].invalid &&
                  (personalInfoForm.controls['address'].dirty ||
                    personalInfoForm.controls['address'].touched)
              }"
              formControlName="address"
              type="text"
              pInputText
            />
          </div>
        </div>

        <div class="form-field">
          <label>Email *</label>
          <div>
            <input
              [ngClass]="{
                'invalid-field':
                  personalInfoForm.controls['email'].invalid &&
                  (personalInfoForm.controls['email'].dirty ||
                    personalInfoForm.controls['email'].touched)
              }"
              formControlName="email"
              type="text"
              pInputText
            />
          </div>
          <div
            class="invalid-text"
            *ngIf="personalInfoForm.get('email')?.hasError('email')"
          >
            <p>Invalid email.</p>
          </div>
        </div>

        <div class="form-field">
          <label>Contact number *</label>
          <div>
            <input
              [ngClass]="{
                'invalid-field':
                  personalInfoForm.controls['contactNo'].invalid &&
                  (personalInfoForm.controls['contactNo'].dirty ||
                    personalInfoForm.controls['contactNo'].touched)
              }"
              formControlName="contactNo"
              type="text"
              pInputText
            />
          </div>
        </div>

        <div class="form-field" style="margin-top: 1.5rem">
          <label>Social media accounts</label>
          <div class="checkbox-container">
            <label>
              <input
                type="checkbox"
                [(ngModel)]="facebookSelected"
                (change)="addSocialLinks()"
                [ngModelOptions]="{ standalone: true }"
                class="custom-checkbox"
              />
              <img
                src="/assets/images/fb-logo.png"
                alt="Facebook Logo"
                class="social-logo"
              />
              Facebook
            </label>
            <label>
              <input
                type="checkbox"
                [(ngModel)]="instagramSelected"
                (change)="addSocialLinks()"
                [ngModelOptions]="{ standalone: true }"
                class="custom-checkbox"
              />
              <img
                src="/assets/images/ig-logo.png"
                alt="Instagram Logo"
                class="social-logo"
              />
              Instagram
            </label>
          </div>
        </div>

        <div class="form-field" *ngIf="facebookSelected || instagramSelected">
          <label>Account Links:</label>
          <div *ngIf="facebookSelected" style="margin-bottom: 1rem">
            <input
              pInputText
              type="text"
              placeholder="Facebook"
              [(ngModel)]="facebookLink"
              (change)="addSocialLinks()"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div *ngIf="instagramSelected">
            <input
              pInputText
              type="text"
              placeholder="Instagram"
              [(ngModel)]="instagramLink"
              (change)="addSocialLinks()"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </form>

      <div class="action-container">
        <button
          pButton
          label="Update"
          class="update-btn"
          (click)="updateProfileInfo()"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>

<!-- Edit password modal -->
<p-dialog
  header="Change Password"
  [(visible)]="editPassword"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div>
    <div class="container">
      <form [formGroup]="passwordForm">
        <div class="alert alert-warning info">
          <div class="info-icon"><mat-icon class="icon">info</mat-icon></div>
          <div class="info-text">
            <p>
              Password must contain at least one number, one lowercase and one
              uppercase letter, and must be at least six characters long.
            </p>
          </div>
        </div>

        <h4><i>Required Fields *</i></h4>

        <!-- <div class="form-field">
          <label>Current Password *</label>
          <div>
            <p-password
              [ngClass]="{
                'spec-field':
                  passwordForm.controls['currentPassword'].invalid &&
                  (passwordForm.controls['currentPassword'].dirty ||
                    passwordForm.controls['currentPassword'].touched)
              }"
              formControlName="currentPassword"
              [toggleMask]="true"
            ></p-password>
          </div>
        </div> -->

        <div class="form-field">
          <label>New Password *</label>
          <div>
            <p-password
              [ngClass]="{
                'spec-field':
                  passwordForm.controls['newPassword'].invalid &&
                  (passwordForm.controls['newPassword'].dirty ||
                    passwordForm.controls['newPassword'].touched)
              }"
              formControlName="newPassword"
              [toggleMask]="true"
            ></p-password>
          </div>
          <div
            class="invalid-text"
            *ngIf="passwordForm.get('newPassword')?.hasError('minlength')"
          >
            <p>Password should be at least 6 characters long.</p>
          </div>
          <div
            class="invalid-text"
            *ngIf="passwordForm.get('newPassword')?.hasError('pattern')"
          >
            <p>
              Password should contain at least one lowercase letter, one
              uppercase letter, and one digit.
            </p>
          </div>
        </div>

        <div class="form-field">
          <label>Confirm Password *</label>
          <div>
            <p-password
              [ngClass]="{
                'spec-field':
                  passwordForm.controls['confirmPassword'].invalid &&
                  (passwordForm.controls['confirmPassword'].dirty ||
                    passwordForm.controls['confirmPassword'].touched)
              }"
              formControlName="confirmPassword"
              [toggleMask]="true"
            ></p-password>
          </div>
          <div
            class="invalid-text"
            *ngIf="
              passwordForm
                .get('confirmPassword')
                ?.hasError('passwordMismatch') &&
              passwordForm.controls['confirmPassword'].touched
            "
          >
            <p>Password mismatch.</p>
          </div>
        </div>
      </form>
      <div class="action-container">
        <button
          pButton
          label="Update"
          class="update-btn"
          (click)="updatePassword()"
        ></button>
      </div>
    </div>
  </div>
</p-dialog>

<!-- verify account modal -->
<p-dialog
  header="Verify your Account"
  [(visible)]="verifyBtn"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <form [formGroup]="validIdForm">
      <div class="form-field">
        <label>Type of valid Id *</label>
        <div>
          <p-dropdown
            [ngClass]="{
              'spec-field':
                validIdForm.controls['validIdType'].invalid &&
                (validIdForm.controls['validIdType'].dirty ||
                  validIdForm.controls['validIdType'].touched)
            }"
            formControlName="validIdType"
            placeholder="Select valid id type"
            [options]="validIds"
            optionLabel="type"
            optionValue="type"
          ></p-dropdown>
        </div>
      </div>

      <div class="form-field">
        <label>Id number *</label>
        <div>
          <input
            [ngClass]="{
              'invalid-field':
                validIdForm.controls['validIdNumber'].invalid &&
                (validIdForm.controls['validIdNumber'].dirty ||
                  validIdForm.controls['validIdNumber'].touched)
            }"
            formControlName="validIdNumber"
            type="text"
            pInputText
          />
        </div>
      </div>

      <div style="margin-top: 2rem">
        <label>Valid Id image *</label>
        <div class="upload-image-container">
          <div>
            <button pButton class="verify-btn" (click)="selectFile.click()">
              <mat-icon class="mat-icon" style="margin-right: 1rem"
                >cloud_upload</mat-icon
              >
              Upload image
            </button>
          </div>
          <img
            *ngIf="changeImage && imagePreviewUrl"
            class="upload-image"
            [src]="imagePreviewUrl"
          />
          <img
            *ngIf="!changeImage"
            class="upload-image"
            src="/assets/images/upload.png"
          />
        </div>
        <input
          hidden
          type="file"
          id="img"
          value="select"
          accept="image/*"
          #selectFile
          (change)="onImageSelected($event)"
        />

        <div *ngIf="isMaxSize">
          <p [ngStyle]="{ color: 'red' }">Image size is too large</p>
        </div>
      </div>
    </form>

    <div class="action-container">
      <button
        pButton
        label="Submit"
        class="update-btn"
        (click)="verifyAccount()"
      ></button>
    </div>
  </div>
</p-dialog>
