@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

section {
  background-color: #e8f4ef;
  min-height: 100vh;
  padding: 8rem 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  font-family: "Montserrat", sans-serif;
}

.profile-container {
  display: flex;
  gap: 1rem;
}

.left-container {
  width: 30%;
}

.right-container {
  width: 70%;
}

:host {
  ::ng-deep .p-card {
    border-radius: 10px;
    position: relative;
    background-color: #ffffff !important;
  }
}

.image-container {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.user-image {
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
}

.left-text {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-type-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  background-color: #f3f6f6;
  margin-bottom: 1rem;
}

.social-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icon-container {
  padding: 0.5rem;
  background-color: #f3f6f6;
  border-radius: 5px;
  cursor: pointer;
}

.social-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.social-icon-container:hover {
  background-color: #037fff;
}

.social-icon:hover {
  filter: brightness(0) invert(1);
}

.left-user-det {
  width: 100%;
  border-radius: 5px;
  background-color: #f3f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.left-user-det-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  gap: 0.5rem;
  margin-top: 0.5rem;
  width: 100%;
}

.user-det-icon-container {
  background-color: #ffffff;
  border-radius: 5px;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.user-det-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.user-det-icon-container:hover {
  background-color: #037fff;
}

.user-det-icon:hover {
  filter: brightness(0) invert(1);
}

.user-det-text {
  width: 80%;
}

.user-det-text p {
  padding-top: 0.5rem;
  margin-bottom: 1px;
}

.mat-divider {
  height: 1.1px;
  background-color: #ababab;
  margin-top: 0.5rem;
  width: 80%;
}

.right-header {
  display: flex;
  align-items: center;
  margin-top: -1.5rem;
}

.header-text {
  display: flex;
  flex-direction: row;
}

.edit-button-container {
  align-self: baseline;
  margin-left: auto;
}

.edit-button {
  border-radius: 20px;
  background: #8da17f;
  border: #8da17f;
}

.p-button.edit-button:hover {
  color: #ffffff;
  //background: #8da17f;
  background: #18332f;
}

.profile-second {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  height: 14rem;
}

.profile-second-text {
  display: flex;
  margin-top: 0.5rem;
}

.left-second {
  width: 100%;
}

.right-second {
  width: 100%;
}

.second-subtext {
  line-height: 0.5rem;
  margin-bottom: 2rem;
}

.label {
  color: rgb(126, 125, 125);
}

.profile-third {
  height: 4rem;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: -1.2rem;
}

// modal styles
.form-field {
  margin-top: 1.5rem;
}

::ng-deep .p-inputtext {
  width: 100%;
}

::ng-deep .p-dropdown {
  width: 100%;
}

::ng-deep .p-password {
  width: 100%;
}

::ng-deep .p-calendar {
  width: 100%;
}

.social-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.form-array-dp .p-dropdown {
  width: 80%;
}

.p-button.delete-btn {
  margin-left: 1rem;
}

.p-button.add-btn {
  margin-top: 1rem;
}

.invalid-field {
  border: 1px solid red;
}

::ng-deep .spec-field .p-dropdown,
::ng-deep .spec-field .p-password,
::ng-deep .spec-field .p-calendar {
  border: 1px solid red;
  border-radius: 5px;
}

::ng-deep .p-dialog-content::-webkit-scrollbar {
  display: none;
}

.p-button.update-btn {
  color: #ffffff;
  //background: #18332f;
  background: #8da17f;
  border: #8da17f;
}

.action-container {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
}

.p-button.update-btn:hover {
  color: #ffffff;
  //background: #8da17f;
  background: #18332f;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
}

info-text {
  width: 80%;
}

.info-icon {
  width: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icon {
  transform: scale(2);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-image-container {
  position: relative;
  margin: 1rem 0 2rem 0;
  display: inline-block;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  //border-radius: 10px;
  //border: 1px solid;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

.camera-icon-container {
  position: absolute;
  right: -1px;
  bottom: -7px;
  background-color: white;
  border-radius: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

.invalid-text {
  color: red;
}

.p-dialog .p-dialog-header .p-dialog-title {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

b {
  color: #6a6969;
  font-family: "Montserrat", sans-serif;
}

.form-field label {
  margin-bottom: 0.5rem;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  margin-right: 1rem;
  vertical-align: -5px;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.checkbox-container .label {
  font-size: 1.1rem;
  vertical-align: 5px;
}

.verified-icon {
  color: #037fff;
  margin-right: 1rem;
  vertical-align: -5px;
}

.verify-container {
  width: 100%;
  text-align: end;
  margin-top: -3.8rem;
  margin-bottom: 1rem;
}

.p-button.verify-btn {
  color: #ffffff;
  //background: #18332f;
  background: #1450a3;
  border: #1450a3;
  border-radius: 25px;
}

.p-button.verify-btn:hover {
  color: #ffffff;
  //background: #8da17f;
  background: #18332f;
}

.upload-image-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.upload-image {
  width: 12rem;
  height: 9rem;
  filter: none;
  border-radius: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

:host {
  ::ng-deep .p-dropdown-items-wrapper::-webkit-scrollbar {
    display: none;
  }

  ::ng-deep .confirm-password .p-password-panel {
    display: none;
  }
}

//-----------RESPONSIVE-----------
@media (max-width: 1920px) {
  .res-second-subtext {
    margin-bottom: -10px;
    width: 120%;
  }
}

@media (max-width: 1090px) {
  .profile-container {
    display: block;
  }

  .left-container {
    width: 100%;
    margin-bottom: 1rem;
  }

  .right-container {
    width: 100%;
  }
}

@media (max-width: 1012px) {
  .verify-container {
    // width: 50%;
    // position: absolute;
    // top: 8rem;
    // left: 42rem;
    // text-align: start;
    display: none;
  }
}
