<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<app-side-nav>
  <section class="section">
    <div class="container" data-aos="fade-right" data-aos-duration="333">
      <div style="margin-bottom: 3rem">
        <p class="h1 mb-3 title">FARMER LIST</p>
      </div>

      <p-tabView>
        <p-tabPanel header="All Farmer Accounts">
          <div class="search-container">
            <span class="p-input-icon-left search-input" style="width: 100%">
              <i class="pi pi-search"></i>
              <input
                style="width: 100%"
                #pInputText
                pInputText
                type="text"
                (input)="dt1.filterGlobal(pInputText.value, 'contains')"
                placeholder="Search keyword"
              />
            </span>
          </div>

          <p-table
            #dt1
            [value]="(selectFarmersValidated$ | async)!"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 15, 20]"
            [loading]="loading"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'user.lastName',
              'user.firstName',
              'user.middleName',
              'user.email'
            ]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 7rem">
                  <div class="th-text">Image</div>
                </th>
                <th style="min-width: 15rem">
                  <div class="th-text">Farmer Name</div>
                </th>
                <th style="min-width: 15rem">
                  <div class="th-text">Email</div>
                </th>
                <th style="min-width: 15rem">
                  <div class="th-text">Status</div>
                </th>

                <th style="min-width: 10rem">
                  <div class="th-text">Action</div>
                </th>
              </tr></ng-template
            >

            <ng-template pTemplate="body" let-farmer>
              <tr>
                <td style="width: 25%; text-align: center">
                  <img
                    class="user-image"
                    [src]="farmer.user.image || 'assets/images/user-icon.png'"
                  />
                </td>

                <td style="width: 25%">
                  <span class="ml-1 vertical-align-middle"
                    >{{ farmer.user.lastName }}
                    {{ farmer.user.firstName }}
                    {{ farmer.user.middleName }}</span
                  >
                </td>

                <td style="width: 25%">
                  {{ farmer.user.email }}
                </td>

                <td style="width: 25%">
                  {{
                    farmer.user.isValidated ? "Verified" : "Not Yet Verified"
                  }}
                  ({{ farmer.user.activeStatus ? "Active" : "Deactivated" }})
                </td>

                <td style="width: 25%; display: flex">
                  <div class="form-check form-switch" style="margin-top: 11px">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckChecked"
                      [checked]="farmer.user.activeStatus"
                      (click)="toggleActiveSwitch(farmer)"
                    />
                  </div>
                  <p-button
                    (click)="selectFarmerToVerify(farmer); toggleViewModal()"
                    type="button"
                    pTooltip="View Details"
                    tooltipPosition="bottom"
                    styleClass="p-button-rounded p-button-text"
                    ><span class="material-symbols-outlined">
                      visibility
                    </span></p-button
                  >
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">
                  <div class="no-info">
                    <img
                      class="no-info-image"
                      src="assets/images/no-result.png"
                    />
                    <div class="no-info-text">
                      <h1>No results found.</h1>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
        <p-tabPanel header="For Account Verification">
          <div class="search-container">
            <span class="p-input-icon-left search-input" style="width: 100%">
              <i class="pi pi-search"></i>
              <input
                style="width: 100%"
                #pInputText
                pInputText
                type="text"
                (input)="dt1.filterGlobal(pInputText.value, 'contains')"
                placeholder="Search keyword"
              />
            </span>
          </div>

          <p-table
            #dt1
            [value]="(selectFarmersNotValidated$ | async)!"
            dataKey="id"
            [rows]="10"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 15, 20]"
            [loading]="loading"
            [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="[
              'user.lastName',
              'user.firstName',
              'user.middleName',
              'user.email'
            ]"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="min-width: 15rem">
                  <div class="th-text">Farmer Name</div>
                </th>
                <th style="min-width: 15rem">
                  <div class="th-text">Email</div>
                </th>
                <th style="min-width: 15rem">
                  <div class="th-text">Status</div>
                </th>
                <th style="min-width: 15rem">
                  <div class="th-text">Action</div>
                </th>
              </tr></ng-template
            >

            <ng-template pTemplate="body" let-farmer>
              <tr>
                <td style="width: 25%">
                  <span class="ml-1 vertical-align-middle"
                    >{{ farmer.user.lastName }}
                    {{ farmer.user.firstName }}
                    {{ farmer.user.middleName }}</span
                  >
                </td>

                <td style="width: 25%">
                  {{ farmer.user.email }}
                </td>

                <td style="width: 25%">
                  {{
                    farmer.user.isValidated ? "Verified" : "Not Yet Verified"
                  }}
                </td>
                <td style="width: 25%">
                  <p-button
                    (click)="selectFarmerToVerify(farmer); toggleVerifyModal()"
                    type="button"
                    pTooltip="View Details"
                    tooltipPosition="bottom"
                    styleClass="p-button-rounded p-button-text"
                    ><span class="material-symbols-outlined">
                      visibility
                    </span></p-button
                  >
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="7">
                  <div class="no-info">
                    <img
                      class="no-info-image"
                      src="assets/images/no-result.png"
                    />
                    <div class="no-info-text">
                      <h1>No results found.</h1>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </section>
</app-side-nav>

<!-- verify account modal -->
<p-dialog
  header="Verify farmer account"
  [modal]="true"
  [(visible)]="isVerfiyToggle"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <div>
      <section class="cus-modal" style="background-color: #eee">
        <div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img
                    [src]="
                      selectedFarmerToVerify?.user?.image ||
                      'assets/images/user-icon.png'
                    "
                    alt="avatar"
                    class="rounded-circle img-fluid"
                    style="width: 150px"
                  />
                  <p
                    *ngIf="selectedFarmerToVerify?.user?.validIdPicture"
                    class="text-muted mt-4"
                  >
                    <a
                      href="{{ selectedFarmerToVerify?.user?.validIdPicture }}"
                      target="_blank"
                      >view submitted valid ID</a
                    >
                  </p>
                  <p
                    *ngIf="!selectedFarmerToVerify?.user?.validIdPicture"
                    class="text-muted mt-4"
                  >
                    No Submitted ID yet
                  </p>
                  <p
                    *ngIf="selectedFarmerToVerify?.user?.recentPicture"
                    class="text-muted mt-4"
                  >
                    <a
                      href="{{ selectedFarmerToVerify?.user?.recentPicture }}"
                      target="_blank"
                      >view submitted 2x2 picture</a
                    >
                  </p>
                  <p
                    *ngIf="!selectedFarmerToVerify?.user?.recentPicture"
                    class="text-muted mt-4"
                  >
                    No picture yet
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">First Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.firstName }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">Middle Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.middleName }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">Last Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.lastName }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">ID Number</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{
                          selectedFarmerToVerify?.user?.validIdNumber ||
                            "No Submission Yet"
                        }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">ID Type</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{
                          selectedFarmerToVerify?.user?.validIdType ||
                            "No Submission Yet"
                        }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.email }}
                      </p>
                    </div>
                  </div>

                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Mobile</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.contactNo }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.address }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="action-container">
        <button
          [disabled]="
            selectedFarmerToVerify?.user?.validIdPicture == '' ||
            selectedFarmerToVerify?.user?.validIdPicture == undefined
          "
          pButton
          class="p-button-outlined p-button-secondary cancel-btn"
          (click)="refuseSubmittedId()"
        >
          Refuse Submitted ID
        </button>
        <button pButton class="submit-btn" (click)="verifyAccount()">
          Verify
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<!-- view account modal -->
<p-dialog
  header="View farmer account"
  [modal]="true"
  [(visible)]="isViewToggle"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <div>
      <section class="cus-modal" style="background-color: #eee">
        <div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img
                    [src]="
                      selectedFarmerToVerify?.user?.image ||
                      'assets/images/user-icon.png'
                    "
                    alt="avatar"
                    class="rounded-circle img-fluid"
                    style="width: 150px"
                  />
                  <p
                    *ngIf="selectedFarmerToVerify?.user?.validIdPicture"
                    class="text-muted mt-4"
                  >
                    <a
                      href="{{ selectedFarmerToVerify?.user?.validIdPicture }}"
                      target="_blank"
                      >view submitted valid ID</a
                    >
                  </p>
                  <p
                    *ngIf="!selectedFarmerToVerify?.user?.validIdPicture"
                    class="text-muted mt-4"
                  >
                    No Submitted ID yet
                  </p>
                  <p
                    *ngIf="selectedFarmerToVerify?.user?.recentPicture"
                    class="text-muted mt-4"
                  >
                    <a
                      href="{{ selectedFarmerToVerify?.user?.recentPicture }}"
                      target="_blank"
                      >view submitted 2x2 picture</a
                    >
                  </p>
                  <p
                    *ngIf="!selectedFarmerToVerify?.user?.recentPicture"
                    class="text-muted mt-4"
                  >
                    No picture yet
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">First Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.firstName }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">Middle Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.middleName }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">Last Name</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.lastName }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">ID Number</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.validIdNumber }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-4">
                      <p class="mb-0">ID Type</p>
                    </div>
                    <div class="col-sm-8">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.validIdType }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.email }}
                      </p>
                    </div>
                  </div>

                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Mobile</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.contactNo }}
                      </p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">
                        {{ selectedFarmerToVerify?.user?.address }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="action-container">
        <button
          pButton
          class="p-button-outlined p-button-secondary cancel-btn"
          (click)="toggleViewModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</p-dialog>
