<div class="container-fluid p-0">
  <div class="sidebar-container d-flex flex-row">
    <div
      class="sidebar"
      [ngClass]="{
        'sidebar-expanded': isSidebarExpanded,
        'sidebar-collapsed': !isSidebarExpanded
      }"
    >
      <div class="sidebar-header">
        <button
          type="button"
          class="sidebar-toggle custom-icon-button"
          (click)="toggleSidebar()"
          *ngIf="!(isHandset$ | async)"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- <img
          src="assets/img/Seven Seven Logo.png"
          class="header-logo"
          alt="Logo"
          *ngIf="!(isHandset$ | async)"
        /> -->
      </div>

      <mat-nav-list [ngSwitch]="userType">
        <ng-container *ngSwitchCase="'Administrator'">
          <a mat-list-item routerLink="/administrator/farmingtips" class="mt-1">
            <mat-icon class="nav-icon">rate_review</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Farming Tips</span
            >
          </a>
          <a
            mat-list-item
            routerLink="/administrator/farmercomplaint"
            class="mt-1"
          >
            <mat-icon class="nav-icon">notification_important</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Complaints</span
            >
          </a>
          <a mat-list-item routerLink="/administrator/profile">
            <mat-icon class="nav-icon">account_circle</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Profile</span
            >
          </a>
          <a mat-list-item routerLink="/login" (click)="logout()">
            <mat-icon class="nav-icon">exit_to_app</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)">Logout</span>
          </a>
        </ng-container>
      </mat-nav-list>

      <mat-nav-list [ngSwitch]="userType">
        <ng-container *ngSwitchCase="'Farmer'">
          <a
            mat-list-item
            routerLink="/farmer/crop-advertisements"
            class="mt-1"
          >
            <mat-icon class="nav-icon">rate_review</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Advertisements</span
            >
          </a>
          <a mat-list-item routerLink="/farmer/sell-product" class="mt-1">
            <mat-icon class="nav-icon"> terrain</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)">Crops</span>
          </a>
          <a mat-list-item routerLink="/farmer/complaint-status" class="mt-1">
            <mat-icon class="nav-icon">notification_important</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Your Complaints</span
            >
          </a>
          <a mat-list-item routerLink="/farmer/profile">
            <mat-icon class="nav-icon">account_circle</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Profile</span
            >
          </a>
          <a mat-list-item routerLink="/login" (click)="logout()">
            <mat-icon class="nav-icon">exit_to_app</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)">Logout</span>
          </a>
        </ng-container>
      </mat-nav-list>

      <mat-nav-list [ngSwitch]="userType">
        <ng-container *ngSwitchCase="'Supplier'">
          <a
            mat-list-item
            routerLink="/supplier/post-advertisement-list"
            class="mt-1"
          >
            <mat-icon class="nav-icon">local_mall</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Advertisements</span
            >
          </a>
          <a mat-list-item routerLink="/supplier/profile">
            <mat-icon class="nav-icon">account_circle</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)"
              >Profile</span
            >
          </a>
          <a mat-list-item routerLink="/login" (click)="logout()">
            <mat-icon class="nav-icon">exit_to_app</mat-icon>
            <span class="white-text" *ngIf="!(isHandset$ | async)">Logout</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </div>
    <div class="content col">
      <ng-content></ng-content>
    </div>
  </div>
</div>
