<div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
  <div class="main" data-aos="fade-right" data-aos-duration="333">
    <div class="container">
      <div class="row">
        <div class="col">
          <p
            class="h1 text-light header"
            data-aos="fade-right"
            data-aos-duration="333"
          >
            COURSES ENROLLED
          </p>
        </div>
      </div>
      <div class="row">
        <div
          class="col"
          *ngFor="let course of courses.slice(startIndex(), endIndex())"
          data-aos="fade-right"
          data-aos-duration="333"
        >
          <div class="items">
            <p class="h4" data-aos="fade-right" data-aos-duration="333">
              {{ course.enrollment_id }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              {{ course.course_id }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              {{ course.enrollment_date }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              {{ course.end_of_enrollment }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3 mt-3">
            <div class="pagination pagination-md justify-content-end">
              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="currentPage === 1"
                  (click)="changePage(currentPage - 1)"
                >
                  Previous
                </button>
              </li>
              <li class="page-item">
                <button class="page-link" disabled>{{ currentPage }}</button>
              </li>

              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="endIndex() >= courses.length"
                  (click)="changePage(currentPage + 1)"
                >
                  Next
                </button>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
