.mainBg {
    display: flex;
    justify-content: center;
    background-image: url("./../../../../../assets/images/grains.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 40px;
}

.main {
    padding: 30px;
    border-radius: 10px;
}

.header {
    text-shadow: 1px 1px 10px black;
}