<div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
  <div class="main" data-aos="fade-right" data-aos-duration="333">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h1 mt-3 mb-3 text-light header">ORDERS</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table table-primary table-striped">
            <thead>
              <tr>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  order_id_ref
                </th>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  crop_id
                </th>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  supplier_id
                </th>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  quantity
                </th>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  price
                </th>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  address
                </th>
                <th scope="col" data-aos="fade-right" data-aos-duration="333">
                  actions
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td data-aos="fade-right" data-aos-duration="333">
                  {{ order.order_id_ref }}
                </td>
                <td data-aos="fade-right" data-aos-duration="333">
                  {{ order.crop_id }}
                </td>
                <td data-aos="fade-right" data-aos-duration="333">
                  {{ order.supplier_id }}
                </td>
                <td data-aos="fade-right" data-aos-duration="333">
                  {{ order.quantity }}
                </td>
                <td data-aos="fade-right" data-aos-duration="333">
                  {{ order.price }}
                </td>
                <td data-aos="fade-right" data-aos-duration="333">
                  {{ order.address }}
                </td>
                <td data-aos="fade-right" data-aos-duration="333">
                  <div class="mt-3 mb-3">
                    <button class="btn btn-primary">Accept</button>
                    <button class="btn btn-danger ms-2">Cancel</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
