<div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
  <div class="main" data-aos="fade-right" data-aos-duration="333">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h1 mt-3 mb-3 text-light header">ORDERS</p>
        </div>
      </div>
      <div class="row">
        <div
          class="col-lg-3 mb-3"
          *ngFor="let order of orders.slice(startIndex(), endIndex())"
        >
          <div class="items" style="height: 100%">
            <p data-aos="fade-right" data-aos-duration="333">
              <b>Order Reference ID:</b><br />
              {{ order.order_id_ref }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              <b>Crop ID:</b><br />
              {{ order.crop_id }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              <b>Supplier/Wholesaler ID:</b><br />
              {{ order.supplier_id }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              <b>Quantity:</b><br />
              {{ order.quantity }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              <b>Price:</b><br />
              {{ order.price }}
            </p>
            <p data-aos="fade-right" data-aos-duration="333">
              <b>Address:</b><br />
              {{ order.address }}
            </p>
            <div class="mt-3 mb-3 d-flex flex-row-reverse">
              <button class="btn btn-primary">
                <fa-icon
                  [icon]="faCheck"
                  [animation]="'bounce'"
                  [size]="'lg'"
                ></fa-icon
                >&nbsp; Accept
              </button>
            </div>
            <div class="mt-3 mb-3 d-flex flex-row-reverse">
              <button class="btn btn-danger">
                <fa-icon
                  [icon]="faCancel"
                  [animation]="'bounce'"
                  [size]="'lg'"
                ></fa-icon
                >&nbsp; Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3 mt-3">
            <div class="pagination pagination-md justify-content-end">
              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="currentPage === 1"
                  (click)="changePage(currentPage - 1)"
                >
                  Previous
                </button>
              </li>
              <li class="page-item">
                <button class="page-link" disabled>{{ currentPage }}</button>
              </li>

              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="endIndex() >= orders.length"
                  (click)="changePage(currentPage + 1)"
                >
                  Next
                </button>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
