<app-header></app-header>

<section>
  <div class="banner-container">
    <div class="container">
      <div class="banner-content">
        <div class="banner-text">
          <div>
            <h1>
              <div [@inAnimation1]>Bridging the gap</div>
              <div [@inAnimation2]>between farmers,</div>
              <div [@inAnimation3]>retailers, and,</div>
              <div [@inAnimation4]>suppliers.</div>
            </h1>
          </div>

          <div class="link-text" #linkText>
            <h1 routerLink="/who-we-are" class="animated-text">
              Who we are <mat-icon class="icon">arrow_forward</mat-icon>
            </h1>
            <h1 routerLink="/sustainability" class="animated-text">
              Sustainability <mat-icon class="icon">arrow_forward</mat-icon>
            </h1>
            <h1 routerLink="/our-process" class="animated-text">
              Our process <mat-icon class="icon">arrow_forward</mat-icon>
            </h1>
          </div>
        </div>
        <div class="image-container">
          <img class="veg-image" src="assets/images/vegetables2.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="about-container">
    <div class="wave-container"></div>
    <div class="container" style="margin-top: 2rem">
      <div
        class="about-content"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="about-image-container">
          <img class="image-one" src="/assets/images/farm1.jpg" />
        </div>
        <div class="about-text">
          <h1>
            <span class="highlight-container">
              <span class="highlight">
                <b>Commitment to Supporting Local Agriculture</b>
              </span>
            </span>
          </h1>
          <p>
            Our platform serves as a catalyst for nurturing vibrant farming
            communities by facilitating direct connections between local
            producers and consumers. Through AgriBridge, you can discover a rich
            array of locally grown produce, artisanal products, and agricultural
            services, all while contributing to the sustainability of your
            community and fostering economic growth at a grassroots level."
          </p>
        </div>
      </div>

      <div
        class="about-content-two"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="about-text-two">
          <h1>
            <span class="highlight-container">
              <span class="highlight">
                <b>Revolutionizing Direct Sales for Farmers</b>
              </span>
            </span>
          </h1>
          <p>
            AgriBridge empowers farmers to break free from intermediaries by
            offering a direct selling platform. Say goodbye to middlemen and
            hello to increased profits as you connect directly with consumers.
            With AgriBridge, you're in control, showcasing your products to a
            wide audience and reaping the rewards of your hard work.
          </p>
        </div>

        <div class="about-image-container-two">
          <img class="image-two" src="/assets/images/farm2.jpg" />
        </div>
      </div>

      <div
        class="about-content"
        data-aos="fade-right"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
      >
        <div class="about-image-container">
          <img class="image-three" src="/assets/images/farm3.jpg" />
        </div>
        <div class="about-text">
          <h1>
            <span class="highlight-container">
              <span class="highlight">
                <b>Empowering Agriculture</b>
              </span>
            </span>
          </h1>
          <p>
            AgriBridge, your trusted agricultural partner, is committed to
            empowering farmers around the globe by bridging the gap between
            cutting-edge technology, expert knowledge, and sustainable farming
            practices. Through our comprehensive platform, farmers can access a
            wide array of resources, from innovative farming techniques and
            market insights to financial support and community networking, all
            aimed at cultivating a resilient and thriving agricultural ecosystem
            for generations to come.
          </p>
        </div>
      </div>
    </div>

    <div class="wave-container2"></div>
  </div>
</section>

<app-footer></app-footer>
