<app-header></app-header>

<section>
  <div class="banner-container">
    <div class="container">
      <div class="banner-content">
        <div class="banner-text">
          <h1>Bridging the gap between farmers, retailers, and suppliers.</h1>
          <div class="link-text">
            <h1 routerLink="/who-we-are" routerLinkActive="router-link-active">
              Who we are <mat-icon class="icon">arrow_forward</mat-icon>
            </h1>
            <h1
              routerLink="/sustainability"
              routerLinkActive="router-link-active"
            >
              Sustainability <mat-icon class="icon">arrow_forward</mat-icon>
            </h1>
            <h1 routerLink="/our-process" routerLinkActive="router-link-active">
              Our process <mat-icon class="icon">arrow_forward</mat-icon>
            </h1>
          </div>
        </div>
        <div class="image-container">
          <img class="veg-image" src="assets/images/vegetables2.png" />
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div>
    <div class="container"><p>White section</p></div>
  </div>
</section>
<app-footer></app-footer>
