<div class="mainBg">
  <div class="main">
    <div class="container">
      <div class="row border">
        <div class="col-lg-8">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <p class="h2 mt-3 mb-3">ORDER SUMMARY</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Crop Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let supplier of suppliers">
                      <td>{{ supplier.cropName }}</td>
                      <td>
                        {{
                          supplier.price | currency : "PHP" : "symbol" : "1.2-2"
                        }}
                      </td>
                      <td>{{ supplier.quantity }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="d-flex flex-row-reverse">
                  <p>
                    Total:
                    <b>{{
                      totalPrice | currency : "PHP" : "symbol" : "1.2-2"
                    }}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="container-fluid bg-dark">
            <div class="row">
              <div class="col">
                <p class="h2 mt-3 mb-3 text-light">PAYMENT DETAILS</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <form>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control text-center"
                      id="farmerName"
                      placeholder=""
                      required
                    />
                    <label for="farmerName" class="text-center">Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control text-center"
                      id="accountNumber"
                      placeholder=""
                      required
                    />
                    <label for="accountNumber">Account Number</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control text-center"
                      id="toPay"
                      placeholder=""
                      required
                      readonly
                      [value]="[totalPrice]"
                    />
                    <label for="toPay">Price to pay</label>
                  </div>
                  <div class="mb-3">
                    <button class="btn btn-primary w-100">
                      <fa-icon [icon]="faWallet"></fa-icon>&nbsp;Pay
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
