<app-header></app-header>

<section class="section">
  <div class="container">
    <div class="sustainability-container">
      <p class="s-label">About</p>
      <h1>Sustainability</h1>
      <p class="s-text">
        Sustainability in farming means adopting eco-friendly practices to
        protect our environment, conserve resources, and ensure the long-term
        success of agriculture. This involves techniques like crop rotation and
        organic farming to maintain soil health, reduce water use, and preserve
        biodiversity. Sustainable farming is crucial in meeting global food
        demands, combating climate change, and securing a sustainable future for
        farming.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="wave-container"></div>
  <div class="more-details">
    <div class="container">
      <div class="ms-content-container">
        <div class="ms-content">
          <img class="image-one" src="/assets/images/sus1.jpg" />
          <div>
            <h1>
              <span class="highlight-container">
                <span class="highlight">
                  <b> Resource Efficiency</b>
                </span>
              </span>
            </h1>
            <p>
              Sustainable farming optimizes resource use, including water,
              energy, and fertilizers, leading to cost savings and reduced
              waste.
            </p>
          </div>
        </div>
        <div class="ms-content">
          <img class="image-two" src="/assets/images/sus2.jpg" />
          <div>
            <h1>
              <span class="highlight-container">
                <span class="highlight">
                  <b>Environmental Preservation</b>
                </span>
              </span>
            </h1>
            <p>
              Sustainable farming practices reduce the negative impact of
              agriculture on the environment. They help conserve soil, water,
              and biodiversity while minimizing pollution and greenhouse gas
              emissions.
            </p>
          </div>
        </div>
        <div class="ms-content">
          <img class="image-three" src="/assets/images/sus3.jpg" />
          <div>
            <h1>
              <span class="highlight-container">
                <span class="highlight">
                  <b>Long-Term Viability</b>
                </span>
              </span>
            </h1>

            <p>
              Sustainable farming ensures that agriculture can continue to meet
              food demands without depleting resources, making it economically
              viable for future generations.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="wave-container2"></div>
<app-footer></app-footer>
