<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<app-header></app-header>
<section class="section" style="padding-top: 6rem">
  <div class="container">
    <div class="contact-us">
      <p-card>
        <h1 class="cs-label"><b>Contact Us</b></h1>

        <form [formGroup]="emailForm">
          <div class="form-group-cus">
            <label for="name">Name:</label>
            <input
              pInputText
              id="name"
              name="name"
              required
              placeholder="Your name.."
              formControlName="name"
              [ngClass]="{
                'invalid-field':
                  emailForm.controls['name'].invalid &&
                  (emailForm.controls['name'].dirty ||
                    emailForm.controls['name'].touched)
              }"
            />

            <div
              class="invalid-text"
              *ngIf="
                emailForm.controls['name'].invalid &&
                (emailForm.controls['name'].dirty ||
                  emailForm.controls['name'].touched)
              "
            >
              <p>This Field is Required.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input
              pInputText
              type="email"
              id="email"
              name="email"
              required
              placeholder="Email here.."
              formControlName="email"
              [ngClass]="{
                'invalid-field':
                  emailForm.controls['email'].invalid &&
                  (emailForm.controls['email'].dirty ||
                    emailForm.controls['email'].touched)
              }"
            />
            <div
              class="invalid-text"
              *ngIf="
                emailForm.controls['email'].invalid &&
                (emailForm.controls['email'].dirty ||
                  emailForm.controls['email'].touched)
              "
            >
              <p>This Field is Required.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="message">Message:</label>
            <textarea
              pInputText
              id="message"
              name="message"
              required
              placeholder="Write something here.."
              formControlName="message"
              [ngClass]="{
                'invalid-field':
                  emailForm.controls['message'].invalid &&
                  (emailForm.controls['message'].dirty ||
                    emailForm.controls['message'].touched)
              }"
            ></textarea>
            <div
              class="invalid-text"
              *ngIf="
                emailForm.controls['message'].invalid &&
                (emailForm.controls['message'].dirty ||
                  emailForm.controls['message'].touched)
              "
            >
              <p>This Field is Required.</p>
            </div>
          </div>

          <div>
            <button
              pButton
              class="send-btn"
              label="Send Email"
              (click)="submitForm()"
            ></button>
          </div>
        </form>
      </p-card>
    </div>
  </div>
</section>

<section>
  <div class="wave-container"></div>
  <div class="more-details">
    <div class="container">
      <div class="more-details-content">
        <div class="md-left-container">
          <div class="logo-container">
            <img class="logo-image" src="assets/images/agribridge-logo.png" />
            <h1 class="logo">AgriBridge</h1>
          </div>

          <div class="mdl-content-container">
            <div class="mdl-content">
              <span class="material-symbols-outlined"> mail </span>
              <div>
                <label>Email</label>
                <h1>agribridge@gmail.com</h1>
              </div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="mdl-content">
              <span class="material-symbols-outlined"> call </span>
              <div>
                <label>Mobile Number</label>
                <h1>+63 956-9411-313</h1>
              </div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="mdl-content">
              <span class="material-symbols-outlined"> map </span>
              <div>
                <label>Location</label>
                <h1>24 Emerald Ave, San Antonio, Pasig, 1605 Metro Manila</h1>
              </div>
            </div>
          </div>
        </div>
        <div class="md-right-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3861.2366954035256!2d121.05903007372379!3d14.585584177446943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397c816d0d3ca35%3A0x5a5c244cd69b67e8!2s24%20Emerald%20Ave%2C%20San%20Antonio%2C%20Pasig%2C%201605%20Metro%20Manila!5e0!3m2!1sen!2sph!4v1694410401902!5m2!1sen!2sph"
            class="map-container"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="wave-container2"></div>
<app-footer></app-footer>
