<div class="mainBg" data-aos="zoom-out">
  <div class="main" data-aos="fade-right">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row-reverse mb-3 mt-3">
            <button
              type="submit"
              class="btn btn-danger ms-2"
              data-aos="fade-right"
              [routerLink]="['/home']"
            >
              <fa-icon
                [icon]="faClose"
                [animation]="'shake'"
                [size]="'lg'"
              ></fa-icon>
            </button>
          </div>

          <form [formGroup]="loginForm">
            <p
              class="h1 mb-3 mt-3 text-light text-shadow"
              data-aos="fade-right"
            >
              LOGIN
            </p>
            <div class="form-floating mb-3" data-aos="fade-right">
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="Username"
                formControlName="username"
              />
              <label for="username"
                ><fa-icon [icon]="faUser"></fa-icon>&nbsp;Username</label
              >
            </div>
            <div class="form-floating" data-aos="fade-right">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                class="form-control"
                id="password"
                placeholder="Password"
                formControlName="password"
              />
              <label for="password"
                ><fa-icon [icon]="faLock"></fa-icon>&nbsp; Password</label
              >
            </div>
            <div
              class="d-flex flex-row-reverse mb-3 mt-3"
              data-aos="fade-right"
            >
              <label for="btncheck1" class="text-light" data-aos="fade-right"
                >&nbsp;<fa-icon [icon]="faLockOpen"></fa-icon>&nbsp;Show
                password</label
              >
              <input type="checkbox" (change)="showPasswordFunction($event)" />
            </div>
            <div class="mb-3 mt-3">
              <button
                type="submit"
                class="btn btn-primary w-100"
                data-aos="fade-right"
                (click)="onSubmit()"
              >
                <fa-icon
                  [icon]="faRightToBracket"
                  [animation]="'bounce'"
                  [size]="'lg'"
                ></fa-icon>
                &nbsp; Login
              </button>
            </div>

            <div class="d-flex flex-row-reverse mb-3 mt-3">
              <a
                class="link-opacity-100 text-light"
                data-aos="fade-right"
                [routerLink]="['/forgot-password/user-role-email']"
                >Forgot password?</a
              >
            </div>
          </form>
          <div class="text-center">
            <p class="text-light" data-aos="fade-right">
              Not a member? <a [routerLink]="['/signup']">Register here!</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
