<app-side-nav>
  <body>
    <!-- Product section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img
              class="card-img-top mb-5 mb-md-0"
              [src]="selectedPostAdvertisement?.cropImage"
              width="700px"
              height="400px"
              alt="..."
            />
          </div>
          <div class="col-md-6">
            <div class="small mb-1">
              Date Posted:
              {{
                selectedPostAdvertisement?.datePosted
                  | date : "MM/dd/yyyy h:mm aa"
              }}
            </div>
            <h1 class="display-5 fw-bolder">
              {{ selectedPostAdvertisement?.cropName }}
            </h1>
            <div class="fs-5 mb-5">
              <!-- <span class="text-decoration-line-through">₱{{selectedPostAdvertisement?.price | number: "1.2"}}</span> -->
              <span>
                Crop Type:
                {{
                  selectedPostAdvertisement?.cropSpecialization
                    ?.specializationName
                }}
              </span>
              <br />
              <span
                >Price: ₱{{
                  selectedPostAdvertisement?.price | number : "1.2"
                }}</span
              >
              <br />
              <span>Quantity: {{ selectedPostAdvertisement?.quantity }}</span>
              <br />
            </div>
            <p class="lead fw-bolder">
              <b>Description:</b>
            </p>
            <p class="lead">
              {{ selectedPostAdvertisement?.description }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="col-md-12">
          <div class="blog-comment">
            <h3 class="text-success">Replies</h3>
            <hr />
            <ul class="comments">
              <ng-container
                *ngFor="
                  let response of selectPostAdvertisementResponses$ | async
                "
              >
                <li class="clearfix">
                  <img
                    [src]="response.farmer.user.image"
                    class="avatar"
                    alt=""
                  />
                  <div class="post-comments">
                    <p
                      class="meta"
                      style="
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                      "
                    >
                      <span>
                        {{ response.dateCreated | date : "MM/dd/yyyy h:mm aa" }}
                        <a href="#">{{
                          response.farmer.user.lastName.concat(
                            " ",
                            response.farmer.user.firstName
                          )
                        }}</a>
                        says :
                      </span>
                      <i class="pull-right">
                        <a class="btn" (click)="updateResponseIsAcceptedStatus(response)"
                          ><small>{{response.isAccepted ? 'Unaccept Offer' : 'Accept Offer'}}</small></a
                        >
                      </i>
                    </p>
                    <p>
                      <b>Offer: </b>
                      <br />
                      <b><i>Qty: </i> </b> {{ response.quantity }},
                      <b><i>Price: </i> </b> ₱{{
                        response.price | number : "1.2"
                      }}
                      <br />
                      {{ response.message }}
                    </p>
                  </div>

                  <!-- <ul class="comments">
                  <li class="clearfix">
                      <img src="https://bootdey.com/img/Content/user_3.jpg" class="avatar" alt="">
                      <div class="post-comments">
                          <p class="meta">Dec 20, 2014 <a href="#">JohnDoe</a> says : <i class="pull-right"><a href="#"><small>Reply</small></a></i></p>
                          <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              Etiam a sapien odio, sit amet
                          </p>
                      </div>
                  </li>
              </ul> -->
                </li>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- related prod copy -->
    <section class="py-5 bg-light">
      <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div
          class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
        >
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Fancy Product</h5>
                  <!-- Product price-->
                  $40.00 - $80.00
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#"
                    >View options</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Special Item</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >$20.00</span
                  >
                  $18.00
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Sale badge-->
              <div
                class="badge bg-dark text-white position-absolute"
                style="top: 0.5rem; right: 0.5rem"
              >
                Sale
              </div>
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Sale Item</h5>
                  <!-- Product price-->
                  <span class="text-muted text-decoration-line-through"
                    >$50.00</span
                  >
                  $25.00
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
              <!-- Product image-->
              <img
                class="card-img-top"
                src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                alt="..."
              />
              <!-- Product details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Product name-->
                  <h5 class="fw-bolder">Popular Item</h5>
                  <!-- Product reviews-->
                  <div
                    class="d-flex justify-content-center small text-warning mb-2"
                  >
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                    <div class="bi-star-fill"></div>
                  </div>
                  <!-- Product price-->
                  $40.00
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto" href="#"
                    >Add to cart</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <!-- <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2023
        </p>
      </div>
    </footer> -->
  </body>
</app-side-nav>
