section {
  background-color: #e8f4ef;
}

//
.header-text {
  cursor: pointer;
  color: #2d5605;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.pi-chevron-right {
  color: black;
}

.cus-card {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  height: 25rem;
  height: auto;
}

.crop-image-container {
  width: 40%;
}

.crop-image {
  width: 100%;
  height: 100%;
}

.crop-detials-container {
  width: 60%;
  padding: 1rem;
  color: #636363;
}

::ng-deep .mat-divider.divider {
  background-color: #2d5605;
  width: 100%;
}

.crop-name h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Circular Std";
  color: #2d5605;
}

.crop-details {
  background-color: #f1f1f1;
  padding: 1rem 1rem 0 1rem;
}

.pqt-container {
  display: flex;
}

.pqt-container .label {
  width: 30%;
}

.pqt-container .value {
  font-weight: 500;
  font-size: 1.3rem;
  //font-family: "Circular Std";
  color: #2d5605;
}

.crop-des {
  margin-top: 1rem;
}

.crop-des h3 {
  //background-color: #f1f1f1;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.crop-des p {
  font-size: 1.1rem;
}

.poster-name {
  margin-top: -1rem;
  //font-family: "Circular Std";
  font-size: 1rem;
  color: #4b4b4b;
  display: flex;
  justify-content: space-between;
}

//----------RESPONSES-----------------
.responses-container {
  display: flex;
  margin-bottom: 1rem;
  padding: 0 5rem;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.res-label {
  font-size: 2rem;
  color: #2d5605;
  font-family: "Circular Std";
  margin-bottom: 2rem;
}

.user-image-container {
  width: 10%;
  padding-right: 2rem;
}

.user-image {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.response-data {
  width: 90%;
  border: 1px solid #fff;
  margin-bottom: 20px;
  margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  border-radius: 4px;
  background: #fff;
  color: #636363;
  position: relative;
  //background-color: #ceecf7;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.2);
}

.response-data.arrow-left:after {
  content: " ";
  position: absolute;
  left: -11px;
  top: 15px;
  width: 22px;
  height: 22px;
  border-top: 0px solid #fff;
  border-right: 0px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: #fff;
  transform: rotate(45deg);
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1), 0 0 0 2px transparent;
}

.farmer-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: column;
}

.name h3 {
  font-size: 1.2rem;
  font-family: "Circular Std";
  font-weight: 600;
  color: #2d5605;
}

.name p {
  margin-top: -1rem;
}

.offer-container {
  padding: 1rem 0;
}

.offer-container h2 {
  margin-bottom: -2px;
  color: #2d5605;
}

.offer-pqt-container {
  display: flex;
  margin-bottom: -1rem;
  width: 100%;
}

.offer-pqt-container .label {
  width: 50%;
}

.offer-pqt-container .value {
  font-weight: 500;
  //font-family: "Circular Std";
  color: #2d5605;
  width: 50%;
}

.res-message {
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #2d5605;
}

.p-button.offer-btn {
  color: #efefef;
  height: 2.5rem;
  border-radius: 25px;
  background-color: #2d5605;
  border: #2d5605;
}

.p-button.offer-btn:hover {
  color: #2d5605;
  background-color: #ffffff;
  border: 1px solid #2d5605;
}

.p-button.un-offer-btn {
  color: #2d5605;
  height: 2.5rem;
  border-radius: 25px;
  background-color: #ffffff;
  border: #2d5605;
}

.p-button.un-offer-btn:hover {
  color: #efefef;
  background-color: #2d5605;
  border: #2d5605;
}

.no-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.no-info-image {
  width: 50%;
  height: 50%;
}

.no-info-text {
  text-align: center;
  color: #2d5605;
  margin-bottom: 2rem;
}

.no-info-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Circular Std";
}

.no-final {
  color: red;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.1rem;
}

.final {
  color: green;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.1rem;
}

.final-offer-container {
  width: 100%;
  text-align: end;
  margin-top: 1rem;
}

.social-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.social-icon-container {
  // padding: 0.5rem;
  // background-color: #f3f6f6;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 1rem;
}

.social-icon-container a {
  text-decoration: none;
  color: #505050;
}

.social-icon {
  width: 1.2rem;
  height: 1.2rem;
}

//---- RESPONSIVE-----
@media (max-width: 1059px) {
  .responses-container {
    padding: 0;
  }

  .user-image-container {
    width: 15%;
    padding-right: 1rem;
  }
}

@media (max-width: 800px) {
  .cus-card {
    display: block;
    height: auto;
  }
  .crop-image-container {
    width: 100%;
  }

  .crop-detials-container {
    width: 100%;
  }

  .poster-name {
    display: block;
  }

  .poster-name .user-name {
    margin-bottom: 5px;
  }

  .no-info-text h1 {
    font-size: 3rem;
  }

  .no-info-text p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .user-image-container {
    display: none;
  }

  .response-data {
    width: 100%;
  }

  .response-data.arrow-left:after {
    display: none;
  }

  .no-info-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .offer-pqt-container {
    display: block;
    margin-bottom: 1rem;
  }

  .offer-pqt-container .label {
    width: 100%;
    margin: 0;
  }

  .offer-pqt-container .value {
    width: 100%;
    //margin-top: -10px;
  }
}
