<app-side-nav>
  <!-- Product section-->
  <section class="py-5">
    <div class="container">
      <p class="header-text">
        AgriBridge
        <i class="pi pi-chevron-right"></i> Post Advertisements
        <i class="pi pi-chevron-right"></i>
        {{ selectedPostAdvertisement?.cropSpecialization?.specializationName }}
        <i class="pi pi-chevron-right"></i>
        {{ selectedPostAdvertisement?.cropName }}
      </p>
      <div class="card cus-card">
        <div class="crop-image-container">
          <img
            class="crop-image"
            [src]="selectedPostAdvertisement?.cropImage"
            alt="..."
          />
        </div>
        <div class="crop-detials-container">
          <div class="crop-name">
            <h1>
              {{ selectedPostAdvertisement?.cropName }}
            </h1>
            <div class="poster-name">
              <p class="user-name">
                <i class="pi pi-user" style="margin-right: 10px"></i>
                {{ selectedPostAdvertisement?.supplier?.user?.firstName }}
                {{ selectedPostAdvertisement?.supplier?.user?.middleName }}
                {{ selectedPostAdvertisement?.supplier?.user?.lastName }}
                &nbsp; ({{
                  selectedPostAdvertisement?.supplier?.user?.contactNo
                }})
              </p>
              <p>
                <i class="pi pi-calendar" style="margin-right: 0.5rem"></i
                >{{
                  selectedPostAdvertisement?.datePosted
                    | date : "MMM dd, yyyy hh:mm a"
                }}
              </p>
            </div>
          </div>

          <!-- <mat-divider class="divider"></mat-divider> -->
          <div class="crop-details">
            <div class="pqt-container">
              <h3 class="label">Budget</h3>
              <h3 class="value">
                ₱ {{ selectedPostAdvertisement?.price | number : "1.2" }}
              </h3>
            </div>

            <div class="pqt-container">
              <h3 class="label">Quantity</h3>
              <h3 class="value">
                {{ selectedPostAdvertisement?.quantity }}
                {{ selectedPostAdvertisement?.measurement }}
              </h3>
            </div>
            <div class="pqt-container">
              <h3 class="label">Crop type</h3>
              <h3 class="value">
                {{
                  selectedPostAdvertisement?.cropSpecialization
                    ?.specializationName
                }}
              </h3>
            </div>
          </div>

          <mat-divider class="divider" style="margin-top: 1rem"></mat-divider>
          <div class="crop-des">
            <h3>Crop Description</h3>
            <p>
              {{ selectedPostAdvertisement?.description }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="margin-top: 2rem">
      <h1 class="res-label">Responses</h1>
      <div
        class="responses-container"
        *ngFor="
          let response of postAdvertisementResponses.slice(
            startIndex(),
            endIndex()
          )
        "
      >
        <div class="user-image-container">
          <img
            [src]="response.farmer.user.image || 'assets/images/user-icon.png'"
            class="user-image"
            alt=""
          />
        </div>

        <div class="response-data arrow-left">
          <div class="farmer-name">
            <div class="name">
              <h3>
                {{
                  response.farmer.user.lastName.concat(
                    " ",
                    response.farmer.user.firstName
                  )
                }}
                ({{ response.farmer.user.contactNo }}) &nbsp;&nbsp;
                <span
                  *ngIf="checkFbSocial(response)"
                  class="social-icon-container"
                >
                  <a href="{{ selectFbSocial(response) }}" target="_blank">
                    <i class="pi pi-facebook"></i>
                  </a>
                </span>
                &nbsp;
                <span
                  *ngIf="checkIGSocial(response)"
                  class="social-icon-container"
                >
                  <a href="{{ selectIGSocial(response) }}" target="_blank">
                    <i class="pi pi-instagram"></i>
                  </a>
                </span>
              </h3>

              <p>
                <i class="pi pi-calendar" style="margin-right: 0.5rem"></i>
                {{ response.dateCreated | date : "MM/dd/yyyy h:mm aa" }}
              </p>
            </div>

            <i class="pull-right">
              <button
                [disabled]="
                  response.isFinalOfferAccepted ||
                  (
                    selectCropPayment$(response.postResponseId, supplierId)
                    | async
                  )?.cropOrder?.orderStatus == 'Cancelled'
                "
                pButton
                [ngClass]="{
                  'offer-btn': response.isAccepted,
                  'un-offer-btn': !response.isAccepted
                }"
                (click)="updateResponseIsAcceptedStatus(response)"
              >
                {{ response.isAccepted ? "Reject Offer" : "Accept Offer" }}
              </button>
            </i>
          </div>
          <mat-divider class="divider" style="margin-top: -10px"></mat-divider>
          <div class="offer-container">
            <h2 style="margin-top: -5px">Initial offer</h2>
            <div class="offer-pqt-container">
              <h3 class="label">Quantity:</h3>
              <h3 class="value">{{ response.quantity }}</h3>
            </div>
            <div class="offer-pqt-container">
              <h3 class="label">Price:</h3>
              <h3 class="value">₱{{ response.price | number : "1.2" }}</h3>
            </div>
            <div class="offer-pqt-container">
              <h3 class="label">Preferred Payment mode:</h3>
              <h3 class="value">{{ response.preferredPaymentMode }}</h3>
            </div>

            <div class="res-message">
              <p>{{ response.message }}</p>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div
              *ngIf="
                response.isAccepted &&
                response.isFinalOfferSubmitted &&
                !response.isFinalOfferAccepted
              "
            >
              <h2 style="margin-top: 10px">Official offer</h2>
              <div class="offer-pqt-container">
                <h3 class="label">Quantity:</h3>
                <h3 class="value">
                  {{
                    (
                      selectSellCropDetailsByFarmerIdAndResponseId$(
                        response.farmer.farmerId!,
                        response.postResponseId
                      ) | async
                    )?.quantity
                  }}
                </h3>
              </div>
              <div class="offer-pqt-container">
                <h3 class="label">Price:</h3>
                <h3 class="value">
                  ₱{{
                    (
                      selectSellCropDetailsByFarmerIdAndResponseId$(
                        response.farmer.farmerId!,
                        response.postResponseId
                      ) | async
                    )?.price | number : "1.2"
                  }}
                </h3>
              </div>
              <div class="offer-pqt-container">
                <h3 class="label">Payment mode:</h3>
                <h3 class="value">
                  {{
                    (
                      selectSellCropDetailsByFarmerIdAndResponseId$(
                        response.farmer.farmerId!,
                        response.postResponseId
                      ) | async
                    )?.paymentMode
                  }}
                </h3>
              </div>
            </div>

            <div
              *ngIf="response.isAccepted"
              [ngClass]="response.isFinalOfferSubmitted ? 'final' : 'no-final'"
            >
              <mat-divider
                *ngIf="
                  response.isAccepted &&
                  response.isFinalOfferSubmitted &&
                  !response.isFinalOfferAccepted
                "
                class="divider"
                style="margin-top: 1rem"
              ></mat-divider>

              <p *ngIf="!response.isFinalOfferSubmitted">
                Please wait for Farmer's official offer.
              </p>
              <p
                *ngIf="
                  response.isFinalOfferSubmitted &&
                  !response.isFinalOfferAccepted &&
                  (
                    selectCropPayment$(response.postResponseId, supplierId)
                    | async
                  )?.cropOrder?.orderStatus != 'Cancelled'
                "
              >
                Farmer has already submitted their official offer. You can now
                proceed to accept their official offer.
              </p>
              <p *ngIf="response.isFinalOfferAccepted &&
              (
                selectCropPayment$(response.postResponseId, supplierId)
                | async
              )?.cropOrder?.orderStatus != 'Cancelled'">
                Transaction already completed.
              </p>
              <p
                style="color: red"
                *ngIf="
                  (
                    selectCropPayment$(response.postResponseId, supplierId)
                    | async
                  )?.cropOrder?.orderStatus == 'Cancelled'
                "
              >
                Offer is already cancelled by the farmer
              </p>
              <div class="final-offer-container">
                <button
                  [disabled]="
                    !response.isFinalOfferSubmitted ||
                    (
                      selectCropPayment$(response.postResponseId, supplierId)
                      | async
                    )?.cropOrder?.orderStatus == 'Cancelled'
                  "
                  pButton
                  class="offer-btn final-btn"
                  (click)="navigateToOrderSummary(response)"
                >
                  {{
                    response.isFinalOfferAccepted
                      ? "View Summary"
                      : "Accept official Offer"
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="no-info" *ngIf="postAdvertisementResponses.length === 0">
        <img class="no-info-image" src="assets/images/no-response.png" />
        <div class="no-info-text">
          <h1>No offers yet from the farmers.</h1>
        </div>
      </div>
      <div class="pagination pagination-md justify-content-end">
        <li class="page-item">
          <button
            class="page-link"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)"
          >
            Previous
          </button>
        </li>
        <li class="page-item">
          <button class="page-link" disabled>
            {{ currentPage }}
          </button>
        </li>

        <li class="page-item">
          <button class="page-link" (click)="changePage(currentPage + 1)">
            Next
          </button>
        </li>
      </div>
    </div>
  </section>
</app-side-nav>
