<app-side-nav> </app-side-nav>
<div
  class="bg-crop-image"
  [style.background-image]="'url(' + selectedFarmingTip?.image + ')'"
></div>
<div class="wave-container"></div>
<section>
  <div class="container">
    <div class="banner-container">
      <h1>{{ selectedFarmingTip?.title }}</h1>
    </div>

    <div class="tip-des" style="margin-bottom: 2rem">
      <p>
        <i class="pi pi-calendar" style="margin-right: 0.5rem"></i>
        {{ selectedFarmingTip?.dateCreated | date : "MMM dd, yyy hh:mm aa" }}
      </p>
    </div>
    <!-- <iframe
  height="480"
  width="500"
  [src]="
    sanitizer.bypassSecurityTrustResourceUrl(selectedFarmingTip?.link!)
  "
>
</iframe> -->

    <div class="tip-des">
      <p>
        {{ selectedFarmingTip?.description }}
      </p>
    </div>

    <div
      *ngIf="selectedFarmingTip?.link"
      class="tip-des"
      style="margin-top: 2rem"
    >
      <p>More on:</p>
      <a [href]="selectedFarmingTip?.link" target="_blank">{{
        selectedFarmingTip?.link
      }}</a>
    </div>
  </div>
</section>
<div class="wave-container2"></div>
