<app-header></app-header>
<section>
  <div class="container">
    <p class="h1 mb-2 title">Terms of Service</p>

    <h2 style="margin-top: 1rem">Acceptance of Terms</h2>
    <p>
      By using our website and services, you agree to comply with these Terms.
      If you do not agree to these Terms, please do not use our platform.
    </p>

    <h2 style="margin-top: 2rem">Use of Services</h2>
    <p>
      You must use our services in accordance with applicable laws and
      regulations. You may not use our services for any unlawful or unauthorized
      purposes.
    </p>

    <h2 style="margin-top: 2rem">Intellectual Property</h2>
    <p>
      The content on our website, including text, graphics, logos, and
      trademarks, is protected by intellectual property laws and belongs to
      AgriBridge. You may not use our content without our explicit permission.
    </p>

    <h2 style="margin-top: 2rem">Termination</h2>
    <p>
      We reserve the right to suspend or terminate your account at our
      discretion if you violate these Terms or engage in any conduct that we
      deem harmful or inappropriate.
    </p>

    <h2 style="margin-top: 2rem">Limitation of Liability</h2>
    <p>
      AgriBridge is not liable for any damages, losses, or liabilities resulting
      from your use of our services. We make no warranties or representations
      regarding the accuracy or availability of our platform.
    </p>

    <h2 style="margin-top: 2rem">Changes to Terms</h2>
    <p>
      We may update these Terms from time to time. We will notify you of
      significant changes through email or by prominently posting a notice on
      our website.
    </p>

    <h2 style="margin-top: 2rem">Contact Us</h2>
    <p>
      If you have any questions or concerns about these Terms, please contact us
      at agribridge@gmail.com.
    </p>

    <p style="margin-top: 2rem">
      <i
        >By using our website and services, you agree to abide by these Terms of
        Service</i
      >
    </p>
  </div>
</section>
<div class="wave-container2"></div>
<app-footer></app-footer>
