.background-pic {
  background-image: url("./../../../../../assets/images/complaints.png");
}
.mainBg {
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 60px;
}

.main {
    box-shadow: 1px 1px 10px black;
    padding: 50px;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    min-width: 1000px;
}
