<!-- redirect to login -->

<app-header></app-header>
<section>
  <div class="container" data-aos="fade-right" data-aos-duration="333">
    <div style="margin-bottom: 3rem">
      <p class="h1 mb-3 title">CROP ADVERTISEMENTS</p>
    </div>
    <div class="filter-container">
      <div class="search-container">
        <span class="p-input-icon-left w-100">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search"
            (keyup)="applyFilter($event)"
            #input
          />
        </span>
      </div>

      <div class="right-filter">
        <div class="dropdown-container">
          <p-dropdown
            [options]="sortingOptions"
            [(ngModel)]="selectedSortingOption"
            placeholder="Sort"
            (ngModelChange)="sortAdvertisements()"
            dropdownIcon="pi pi-sort-alt"
          ></p-dropdown>
        </div>

        <div class="dropdown-container">
          <p-multiSelect
            [options]="cropTypes"
            optionLabel="specializationName"
            placeholder="Filter by type"
            [(ngModel)]="selectedCropTypes"
            (ngModelChange)="filterAdvertisementsByType()"
            dropdownIcon="pi pi-filter"
          ></p-multiSelect>
        </div>
      </div>
    </div>

    <div
      class="card bg-light-subtle"
      *ngFor="
        let post of filteredAdvertisements.slice(startIndex(), endIndex())
      "
    >
      <div class="image-container"><img src="{{ post.cropImage }}" /></div>

      <div class="card-body">
        <div class="text-section">
          <div class="crop-name">
            <h2>
              <b>{{ post.cropName }}</b>
            </h2>
          </div>
          <div class="poster-name">
            <p>
              <i class="pi pi-user" style="margin-right: 10px"></i>
              {{ post.supplier?.user?.firstName }}
              {{ post.supplier?.user?.middleName }}
              {{ post.supplier?.user?.lastName }}
            </p>
            <p>
              <i class="pi pi-calendar" style="margin-right: 1rem"></i
              >{{ post.datePosted | date : "MMM dd, yyyy hh:mm a" }}
            </p>
          </div>

          <mat-divider class="divider"></mat-divider>
          <div class="price-qty-container">
            <div class="pqt-container">
              <h3 class="label">
                <i class="pi pi-money-bill pqt-icon"></i><b>Budget</b>
              </h3>
              <h3>₱{{ post.price | number : "1.2" }}</h3>
            </div>
            <div class="pqt-container">
              <h3 class="label">
                <i class="pi pi-database pqt-icon"></i><b>Quantity</b>
              </h3>
              <h3>{{ post.quantity }}</h3>
            </div>
            <div class="pqt-container">
              <h3 class="label">
                <i class="pi pi-sun pqt-icon"></i>
                <b>Crop type</b>
              </h3>
              <h3>
                {{ post.cropSpecialization?.specializationName }}
              </h3>
            </div>
          </div>

          <mat-divider class="divider"></mat-divider>

          <div class="description-container">
            <h3><b>Description</b></h3>
            <h3 class="card-text">
              <ng-container
                *ngIf="!post.showFullDescription; else fullDescription"
              >
                {{ post.description | slice : 0 : 50 }}
                <span *ngIf="post.description.length > 50" class="see-more"
                  >... <a (click)="toggleDescription(post)">See more</a></span
                >
              </ng-container>
              <ng-template #fullDescription>
                {{ post.description }}
                <span class="see-more" style="margin-left: 1rem">
                  <a (click)="toggleDescription(post)">See less</a></span
                >
              </ng-template>
            </h3>
          </div>
        </div>
        <div class="cta-section">
          <button
            pButton
            type="button"
            class="offer-btn"
            label="OFFER"
            [routerLink]="['/login']"
            (click)="toggleDialog()"
          ></button>
        </div>
      </div>
    </div>

    <div *ngIf="isSearchResultEmpty" class="no-info">
      <img class="no-info-image" src="assets/images/no-result.png" />
      <div class="no-info-text">
        <h1>No results found</h1>
        <p>We couldn't find what you searched for.</p>
        <p>Try searching again.</p>
      </div>
    </div>

    <div class="pagination pagination-md justify-content-end">
      <li class="page-item">
        <button
          class="page-link"
          [disabled]="currentPage === 1"
          (click)="changePage(currentPage - 1)"
        >
          Previous
        </button>
      </li>
      <li class="page-item">
        <button class="page-link" disabled>
          {{ currentPage }}
        </button>
      </li>

      <li class="page-item">
        <button
          class="page-link"
          [disabled]="endIndex() >= advertisements.length"
          (click)="changePage(currentPage + 1)"
        >
          Next
        </button>
      </li>
    </div>
  </div>
</section>
<div class="wave-container2"></div>
<app-footer></app-footer>
