<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>

<app-side-nav>
  <section>
    <div class="container" data-aos="fade-right" data-aos-duration="333">
      <div style="margin-bottom: 3rem">
        <p class="h1 mb-3 title">COMPLAINTS</p>
      </div>

      <div class="search-container">
        <span class="p-input-icon-left search-input" style="width: 100%">
          <i class="pi pi-search"></i>
          <input
            style="width: 100%"
            #pInputText
            pInputText
            type="text"
            (input)="dt1.filterGlobal(pInputText.value, 'contains')"
            placeholder="Search keyword"
          />
        </span>
      </div>

      <p-table
        #dt1
        [value]="farmerComplaints"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 15, 20]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="[
          'farmer.user.lastName',
          'farmer.user.firstName',
          'farmer.user.middleName'
        ]"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 10rem">
              <div class="th-text">Title</div>
            </th>
            <th style="min-width: 10rem">
              <div class="th-text">Farmer Name</div>
            </th>
            <th style="min-width: 10rem">
              <div class="th-text">Date Submitted</div>
            </th>
            <th style="min-width: 10rem">
              <div class="th-text">Status</div>
            </th>
            <th style="min-width: 7rem">
              <div class="th-text">Action</div>
            </th>
          </tr></ng-template
        >

        <ng-template pTemplate="body" let-farmerComplaint>
          <tr>
            <td style="width: 20%">
              {{ farmerComplaint.complaintTitle }}
            </td>
            <td style="width: 20%">
              <span class="ml-1 vertical-align-middle"
                >{{ farmerComplaint.farmer.user.lastName }}
                {{ farmerComplaint.farmer.user.firstName }}
                {{ farmerComplaint.farmer.user.middleName }}</span
              >
            </td>

            <td style="width: 20%">
              <span class="ml-1 vertical-align-middle">{{
                farmerComplaint.dateSubmitted | date : "MM/dd/yyyy h:mm aa"
              }}</span>
            </td>
            <td style="width: 20%">
              {{ farmerComplaint.isRead ? "Read" : "Unread" }}
              ({{ farmerComplaint.isResovled ? "Resolved" : "Unresolved" }})
            </td>
            <td style="width: 5%">
              <p-button
                (click)="
                  selectFarmerComplaint(farmerComplaint); toggleViewModal()
                "
                type="button"
                pTooltip="View Details"
                tooltipPosition="bottom"
                styleClass="p-button-rounded p-button-text"
                ><span class="material-symbols-outlined">
                  visibility
                </span></p-button
              >
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7">
              <div class="no-info">
                <img class="no-info-image" src="assets/images/no-result.png" />
                <div class="no-info-text">
                  <h1>No results found.</h1>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</app-side-nav>

<!-- Modal Edit Course -->
<p-dialog
  header=" Reply to complaint"
  [modal]="true"
  [(visible)]="isViewComplaint"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <form [formGroup]="addEditFarmerComplaintForm">
      <div>
        <p>
          <i
            >Date Read:
            {{ selectedReadDate | date : "MMM dd, yyyy h:mm aa" }}</i
          >
        </p>
      </div>
      <mat-divider class="divider"></mat-divider>
      <div class="form-field">
        <label>Complaint:</label>
        <textarea
          pInputTextarea
          class="form-control"
          formControlName="complaintMessage"
          rows="3"
        ></textarea>
      </div>

      <div class="form-field">
        <label class="form-label">Reply:</label>
        <textarea
          [ngClass]="{
            'invalid-field':
              addEditFarmerComplaintForm.controls['adminReplyMessage']
                .invalid &&
              (addEditFarmerComplaintForm.controls['adminReplyMessage'].dirty ||
                addEditFarmerComplaintForm.controls['adminReplyMessage']
                  .touched)
          }"
          pInputTextarea
          formControlName="adminReplyMessage"
          rows="2"
        ></textarea>
      </div>

      <div class="form-field">
        <label class="form-label">Evidence/Image:</label>
        <div class="image-container">
          <img
            class="preview-image"
            [src]="imagePreviewUrl || 'assets/images/upload.png'"
          />
        </div>
      </div>
    </form>
    <div class="action-container">
      <button
        pButton
        class="p-button-outlined p-button-secondary cancel-btn"
        (click)="toggleViewModal()"
      >
        Close
      </button>
      <button pButton class="submit-btn" (click)="editFarmerComplaintSubmit()">
        Save changes
      </button>
    </div>
  </div>
</p-dialog>

<div
  class="modal fade"
  id="editFarmerComplaint"
  tabindex="-1"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFarmerComplaintLabel">
          Reply to Complaint
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addEditFarmerComplaintForm">
          <div class="row d-flex flex-row flex-wrap mt-2">
            <div class="col">
              <label class="form-label">Complaint:</label>
              <textarea
                class="form-control"
                formControlName="complaintMessage"
                rows="3"
              ></textarea>
            </div>
          </div>
          <div class="row d-flex flex-row flex-wrap mt-2">
            <div class="col">
              <label class="form-label">Reply:</label>
              <textarea
                class="form-control"
                formControlName="adminReplyMessage"
                rows="2"
              ></textarea>
            </div>
          </div>
          <div class="row d-flex flex-row flex-wrap mt-2">
            <label class="form-label">Complaint Photo:</label>
            <img
              [src]="imagePreviewUrl || 'assets/images/upload.png'"
              style="height: 20rem"
            />
          </div>
        </form>
      </div>
      <div
        class="modal-footer d-flex flex-row"
        style="justify-content: space-between"
      >
        <p>
          <i>Date Read: {{ selectedReadDate | date : "MM/dd/yyyy h:mm aa" }}</i>
        </p>
        <div>
          <button
            type="button"
            class="btn btn-secondary me-2"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="editFarmerComplaintSubmit()"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
