section {
  background-color: #e8f4ef;
  padding: 60px;
  min-height: 100vh;
}

.title {
  font-family: "Circular Std";
  color: #2d5605;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.p-button.offer-btn {
  border: 1px solid #2d5605;
  background-color: #2d5605;
  color: #f9f9f9;
  border-radius: 25px;
  text-align: center;
  height: 3rem;
}

.p-button.offer-btn:hover {
  border: 1px solid #2d5605;
  background-color: transparent;
  color: #2d5605;
}

.action-container {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.p-button.submit-btn {
  color: #ffffff;
  //background: #18332f;
  background: #8da17f;
  border: #8da17f;
}

.p-button.submit-btn:hover {
  color: #ffffff;
  //background: #8da17f;
  background: #18332f;
}

::ng-deep .p-dialog-content::-webkit-scrollbar {
  display: none;
}

.th-text {
  display: flex;
  align-items: center;
  color: #2d5605;
}

.form-field {
  margin-top: 1.5rem;
}

.form-field label {
  margin-bottom: 0.5rem;
}

::ng-deep .p-inputtext {
  width: 100%;
}

.invalid-field {
  border: 1px solid red;
}

::ng-deep .spec-field .p-dropdown,
::ng-deep .spec-field .p-password,
::ng-deep .spec-field .p-calendar {
  border: 1px solid red;
  border-radius: 5px;
}

.no-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.no-info-image {
  width: 50%;
  height: 50%;
}

.no-info-text {
  text-align: center;
  color: #2d5605;
  margin-bottom: 2rem;
}

.no-info-text h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  font-family: "Circular Std";
}

.no-info-text p {
  font-family: "Circular Std";
  margin-bottom: -1px;
  font-size: 1.5rem;
}

.image-container {
  width: 100%;
  text-align: center;
}

.preview-image {
  width: 15rem;
  height: 15rem;
}

:host {
  ::ng-deep .mat-divider.divider {
    background-color: #2d5605;
    width: 100%;
  }

  ::ng-deep .spec-field .p-dropdown,
  ::ng-deep .spec-field .p-password,
  ::ng-deep .spec-field .p-calendar {
    border: 1px solid red;
    border-radius: 5px;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
  }

  ::ng-deep .p-datatable {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1),
      0 1px 2px rgba(0, 0, 0, 0.2);
  }

  ::ng-deep view .p-tabview-panels,
  ::ng-deep .p-tabview .p-tabview-nav {
    // white
    background-color: #e8f4ef;
  }

  ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background-color: #e8f4ef;
  }

  ::ng-deep .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    background-color: transparent;
  }

  ::ng-deep .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: #2d5605;
    color: #2d5605;
  }

  ::ng-deep .p-tabview .p-tabview-panels {
    padding: 0;
  }

  ::ng-deep .p-dropdown {
    width: 100%;
  }
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #e8f4ef;
}

.search-container {
  width: 30%;
}

.right-filter {
  width: 20%;
}

// .dropdown-container {
//   width: 100%;
// }

.invalid-text {
  color: red;
}

@media (max-width: 600px) {
  .filter-container {
    display: block;
  }

  .search-container {
    width: 100%;
  }

  .right-filter {
    margin-top: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .offer-btn {
    margin-top: 1rem;
  }
}

@media (max-width: 787px) {
  section {
    padding: 2rem 0;
  }

  .no-info-text h1 {
    font-size: 3rem;
  }

  .no-info-text p {
    font-size: 1rem;
  }
}

@media (max-width: 571px) {
  .no-info-text h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
}
