<div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
  <div class="main" data-aos="fade-right" data-aos-duration="333">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="h1 header text-light mt-3 mb-3" data-aos="fade-right">
            COURSES
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <div
            class="accordion"
            id="coursesAccordion"
            data-aos="fade-right"
            style="height: 100%"
          >
            <ng-container
              *ngFor="
                let course of courses.slice(startIndex(), endIndex());
                let index = index
              "
            >
              <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading' + index">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + index"
                    aria-expanded="false"
                  >
                    <b>{{ course.course_name }}</b>
                  </button>
                </h2>
                <div
                  [id]="'collapse' + index"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body">
                    <p class="description">
                      <b>Description:</b><br />{{ course.description }}
                    </p>
                    <p>
                      <b>Duration (in days):</b> {{ course.duration_in_days }}
                    </p>
                    <div class="d-flex flex-row-reverse mb-3">
                      <button class="btn btn-danger ms-2">
                        <fa-icon
                          [icon]="faTrash"
                          [animation]="'bounce'"
                          [size]="'lg'"
                        ></fa-icon
                        >&nbsp;Delete
                      </button>
                      <button class="btn btn-success ms-2">
                        <fa-icon
                          [icon]="faPenToSquare"
                          [animation]="'bounce'"
                          [size]="'lg'"
                        ></fa-icon
                        >&nbsp;Update
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3 mt-3">
            <div class="pagination pagination-md justify-content-end">
              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="currentPage === 1"
                  (click)="changePage(currentPage - 1)"
                >
                  Previous
                </button>
              </li>
              <li class="page-item">
                <button class="page-link">{{ currentPage }}</button>
              </li>

              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="endIndex() >= courses.length"
                  (click)="changePage(currentPage + 1)"
                >
                  Next
                </button>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
