<div class="background-pic">
  <app-side-nav>
    <div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
      <div class="main" data-aos="fade-right" data-aos-duration="333">
        <div class="container">
          <div class="row">
            <div class="col d-flex flex-row justify-content-between">
              <p
                class="h1 mt-3 mb-3 text-light"
                data-aos="fade-right"
                data-aos-duration="333"
              >
                COMPLAINTS
              </p>
              <button
                class="btn btn-primary h-50"
                (click)="navigateToAddComplaint()"
              >
                Add Complaint
<div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
  <div class="main" data-aos="fade-right" data-aos-duration="333">
    <div class="container">
      <div class="row">
        <div class="col">
          <p
            class="h1 mt-3 mb-3 text-light"
            data-aos="fade-right"
            data-aos-duration="333"
          >
            COMPLAINTS
          </p>
        </div>
      </div>
          <div class="row">
            <div
              class="col-lg-3"
              data-aos="fade-right"
              data-aos-duration="333"
              *ngFor="let complaint of farmerComplaints"
            >
              <div class="items shadow">
                <p data-aos="fade-right" data-aos-duration="333">
                  <strong>Complaint Ticket ID:</strong>
                  {{ complaint.farmerComplaintId }}
                </p>
                <p data-aos="fade-right" data-aos-duration="333">
                  <strong>Complained For:</strong>
                  {{ complaint.complaintTitle }}
                </p>

                <p
                  class="text-danger"
                  data-aos="fade-right"
                  data-aos-duration="333"
                >
                  <strong>Status:</strong>
                  {{ complaint.isRead ? "Read" : "Unread" }}
                </p>
                <p *ngIf="complaint.isRead">Date read:</p>
                <p *ngIf="complaint.isRead">
                  <i>{{ complaint.readDate | date : "MM/dd/yyyy h:mm aa" }}</i>
                </p>
                <div class="mt-3">
                  <button
                    class="btn btn-secondary me-2"
                    data-aos="fade-right"
                    data-aos-duration="333"
                  >
                    View
                  </button>
                  <button
                    class="btn btn-danger"
                    [disabled]="complaint.isRead == true"
                    data-aos="fade-right"
                    data-aos-duration="333"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3 mt-3">
            <div class="pagination pagination-md justify-content-end">
              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="currentPage === 1"
                  (click)="changePage(currentPage - 1)"
                >
                  Previous
                </button>
              </li>
              <li class="page-item">
                <button class="page-link" disabled>{{ currentPage }}</button>
              </li>

              <li class="page-item">
                <button
                  class="page-link"
                  [disabled]="endIndex() >= complaints.length"
                  (click)="changePage(currentPage + 1)"
                >
                  Next
                </button>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-side-nav>
</div>
