.mainBg {
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0px 200px 0px 200px;
}

.main {
    border-radius: 10px;
}