<div class="background-pic">
  <app-side-nav>
    <div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
      <div class="main" data-aos="fade-right" data-aos-duration="333">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="h1 mb-3 text-light">CROP ADVERTISEMENTS</p>
            </div>
          </div>

          <div class="row">
            <div
              class="col-lg-6 mb-3"
              *ngFor="let post of (selectPostAdvertisements$ | async)?.slice(startIndex(), endIndex())"
              data-aos="fade-right"
              data-aos-duration="333"
            >
              <div class="card" style="height: 100%">
                <img
                  src="{{ post.cropImage }}"
                  class="card-img-top"
                  width="100%"
                />
                <div class="card-body">
                  <h2 class="card-title" data-aos="fade-right">
                    {{ post.cropName }}
                  </h2>
                  <p class="card-text description" data-aos="fade-right">
                    {{ post.description }}
                    <!-- <ng-container
                      *ngIf="!post.showFullDescription; else fullDescription"
                    >
                      {{ post.crop_description | slice : 1000 }}

                      <button
                        (click)="toggleDescription(post)"
                        type="button"
                        class="btn btn-outline-secondary"
                      >
                        Read More
                      </button>
                    </ng-container>
                    <ng-template #fullDescription>
                      {{ post.crop_description }}
                      <button
                        (click)="toggleDescription(post)"
                        type="button"
                        class="btn btn-outline-secondary"
                      >
                        Read Less
                      </button>
                    </ng-template> -->
                  </p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <p data-aos="fade-right">
                      <b>Qty:</b>&nbsp; {{ post.quantity }},
                      <b>Price:</b>&nbsp; ₱{{ post.price | number: "1.2" }}
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3 mt-3">
                <div class="pagination pagination-md justify-content-end">
                  <li class="page-item">
                    <button
                      class="page-link"
                      [disabled]="currentPage === 1"
                      (click)="changePage(currentPage - 1)"
                    >
                      Previous
                    </button>
                  </li>
                  <li class="page-item">
                    <button class="page-link" disabled>
                      {{ currentPage }}
                    </button>
                  </li>

                  <li class="page-item">
                    <button
                      class="page-link"
                      [disabled]="endIndex() >= posts.length"
                      (click)="changePage(currentPage + 1)"
                    >
                      Next
                    </button>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-side-nav>
</div>
