<!-- <app-loader></app-loader> -->
<app-side-nav>
  <section>
    <div class="container" data-aos="fade-right" data-aos-duration="333">
      <div style="margin-bottom: 3rem">
        <p class="h1 mb-3 title">CROP ADVERTISEMENTS</p>
      </div>
      <div class="filter-container">
        <div class="search-container">
          <span class="p-input-icon-left w-100">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Search"
              (keyup)="applyFilter($event)"
              #input
            />
          </span>
        </div>

        <div class="right-filter">
          <div class="dropdown-container">
            <p-dropdown
              [options]="sortingOptions"
              [(ngModel)]="selectedSortingOption"
              placeholder="Sort"
              (ngModelChange)="sortAdvertisements()"
              dropdownIcon="pi pi-sort-alt"
            ></p-dropdown>
          </div>

          <div class="dropdown-container">
            <p-multiSelect
              [options]="cropTypes"
              optionLabel="specializationName"
              placeholder="Filter by type"
              [(ngModel)]="selectedCropTypes"
              (ngModelChange)="filterAdvertisementsByType()"
              dropdownIcon="pi pi-filter"
              [filter]="false"
            ></p-multiSelect>
          </div>
        </div>
      </div>

      <div
        class="card bg-light-subtle"
        *ngFor="
          let post of filteredAdvertisements.slice(startIndex(), endIndex())
        "
      >
        <div class="image-container"><img src="{{ post.cropImage }}" /></div>

        <div class="card-body">
          <div class="text-section">
            <div class="crop-name">
              <h2>
                <b>{{ post.cropName }}</b>
              </h2>
            </div>
            <div class="poster-name">
              <p>
                <i class="pi pi-user" style="margin-right: 10px"></i>
                {{ post.supplier?.user?.firstName }}
                {{ post.supplier?.user?.middleName }}
                {{ post.supplier?.user?.lastName }}
                <span class="social-icon-container" style="margin-left: 1rem">
                  <i
                    class="pi pi-phone"
                    tooltipPosition="bottom"
                    pTooltip="{{ post.supplier?.user?.contactNo }}"
                  ></i
                ></span>

                <span *ngIf="checkFbSocial(post)" class="social-icon-container">
                  <a href="{{ selectFbSocial(post) }}" target="_blank">
                    <i class="pi pi-facebook"></i>
                  </a>
                </span>
                <span *ngIf="checkIGSocial(post)" class="social-icon-container">
                  <a href="{{ selectIGSocial(post) }}" target="_blank">
                    <i class="pi pi-instagram"></i>
                  </a>
                </span>
              </p>
              <p>
                <i class="pi pi-calendar" style="margin-right: 1rem"></i
                >{{ post.datePosted | date : "MMM dd, yyyy hh:mm a" }}
              </p>
            </div>

            <mat-divider class="divider"></mat-divider>
            <div class="price-qty-container">
              <div class="pqt-container">
                <h3 class="label">
                  <i class="pi pi-money-bill pqt-icon"></i><b>Budget</b>
                </h3>
                <h3>₱{{ post.price | number : "1.2" }}</h3>
              </div>
              <div class="pqt-container">
                <h3 class="label">
                  <i class="pi pi-database pqt-icon"></i><b>Quantity</b>
                </h3>
                <h3>{{ post.quantity }} {{ post.measurement }}</h3>
              </div>
              <div class="pqt-container">
                <h3 class="label">
                  <i class="pi pi-sun pqt-icon"></i>
                  <b>Crop type</b>
                </h3>
                <h3>
                  {{ post.cropSpecialization?.specializationName }}
                </h3>
              </div>
            </div>

            <mat-divider class="divider"></mat-divider>

            <div class="description-container">
              <h3><b>Description</b></h3>
              <h3 class="card-text">
                <ng-container
                  *ngIf="!post.showFullDescription; else fullDescription"
                >
                  {{ post.description | slice : 0 : 50 }}
                  <span *ngIf="post.description.length > 50" class="see-more"
                    >... <a (click)="toggleDescription(post)">See more</a></span
                  >
                </ng-container>
                <ng-template #fullDescription>
                  {{ post.description }}
                  <span class="see-more" style="margin-left: 1rem">
                    <a (click)="toggleDescription(post)">See less</a></span
                  >
                </ng-template>
              </h3>
            </div>

            <div
              *ngIf="
                (selectPostAdvertisementResponse$(post) | async)?.isAccepted &&
                !(selectPostAdvertisementResponse$(post) | async)
                  ?.isFinalOfferSubmitted
              "
              class="has-offer-container"
            >
              <p>
                Your offer has been accepted by the supplier. View your offer
                and place your final offer.
              </p>
            </div>
            <div
              *ngIf="
                (selectPostAdvertisementResponse$(post) | async)
                  ?.isFinalOfferSubmitted
              "
              class="has-offer-container"
            >
              <p>You've Already Submitted your final offer.</p>
            </div>
            <div
              *ngIf="
                !(selectPostAdvertisementResponse$(post) | async)?.isAccepted &&
                (selectPostAdvertisementResponse$(post) | async)
              "
              class="has-offer-container"
            >
              <p>Awaiting for Supplier's Acceptance approval.</p>
            </div>
          </div>
          <div class="cta-section">
            <button
              *ngIf="!(selectPostAdvertisementResponse$(post) | async)"
              pButton
              type="button"
              class="offer-btn"
              label="OFFER"
              (click)="selectAdvertisement(post); toggleDialog()"
            ></button>
            <button
              *ngIf="selectPostAdvertisementResponse$(post) | async"
              pButton
              type="button"
              class="offer-btn"
              label="VIEW OFFER"
              (click)="toggleViewOffer(selectPostAdvertisementResponse$(post))"
            ></button>
          </div>
        </div>
      </div>

      <div *ngIf="isSearchResultEmpty" class="no-info">
        <img class="no-info-image" src="assets/images/no-result.png" />
        <div class="no-info-text">
          <h1>No results found</h1>
          <p>We couldn't find what you searched for.</p>
          <p>Try searching again.</p>
        </div>
      </div>

      <div class="pagination pagination-md justify-content-end">
        <li class="page-item">
          <button
            class="page-link"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)"
          >
            Previous
          </button>
        </li>
        <li class="page-item">
          <button class="page-link" disabled>
            {{ currentPage }}
          </button>
        </li>

        <li class="page-item">
          <button
            class="page-link"
            [disabled]="endIndex() >= advertisements.length"
            (click)="changePage(currentPage + 1)"
          >
            Next
          </button>
        </li>
      </div>
    </div>
  </section>
</app-side-nav>

<!-- modal -->
<p-dialog
  header="Place an offer"
  [modal]="true"
  [(visible)]="openDialog"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <div>
      <form
        [formGroup]="addAdvertisementResponseForm"
        *ngIf="user.user?.isValidated"
      >
        <div>
          <div class="form-field">
            <label class="form-label">Price:</label>
            <input
              [ngClass]="{
                'invalid-field':
                  addAdvertisementResponseForm.controls['price'].invalid &&
                  (addAdvertisementResponseForm.controls['price'].dirty ||
                    addAdvertisementResponseForm.controls['price'].touched)
              }"
              pInputText
              formControlName="price"
              type="number"
              min="0"
            />
          </div>
          <div class="form-field">
            <label class="form-label">Quantity:</label>
            <input
              [ngClass]="{
                'invalid-field':
                  addAdvertisementResponseForm.controls['quantity'].invalid &&
                  (addAdvertisementResponseForm.controls['quantity'].dirty ||
                    addAdvertisementResponseForm.controls['quantity'].touched)
              }"
              pInputText
              formControlName="quantity"
              type="text"
              min="0"
            />
          </div>
          <div class="form-field">
            <label class="form-label">Measurement:</label>
            <p-dropdown
              [ngClass]="{
                'spec-field':
                  addAdvertisementResponseForm.controls['measurement']
                    .invalid &&
                  (addAdvertisementResponseForm.controls['measurement'].dirty ||
                    addAdvertisementResponseForm.controls['measurement']
                      .touched)
              }"
              formControlName="measurement"
              placeholder="Select measurement"
              [options]="measurementOptions"
              optionLabel="label"
              optionValue="value"
            >
            </p-dropdown>
          </div>

          <div class="form-field">
            <label class="form-label">Preferred Payment:</label>
            <p-dropdown
              [ngClass]="{
                'spec-field':
                  addAdvertisementResponseForm.controls['preferredPaymentMode']
                    .invalid &&
                  (addAdvertisementResponseForm.controls['preferredPaymentMode']
                    .dirty ||
                    addAdvertisementResponseForm.controls[
                      'preferredPaymentMode'
                    ].touched)
              }"
              formControlName="preferredPaymentMode"
              placeholder="Select payment method"
              [options]="paymentOptions"
              optionLabel="label"
              optionValue="value"
            >
            </p-dropdown>
          </div>
        </div>

        <div class="form-field">
          <label class="form-label">Message:</label>
          <textarea
            [ngClass]="{
              'spec-field':
                addAdvertisementResponseForm.controls['message'].invalid &&
                (addAdvertisementResponseForm.controls['message'].dirty ||
                  addAdvertisementResponseForm.controls['message'].touched)
            }"
            pInputTextarea
            formControlName="message"
            rows="2"
          ></textarea>
        </div>

        <div class="action-container">
          <button
            pButton
            class="p-button-outlined p-button-secondary"
            (click)="this.addAdvertisementResponseForm.reset(); toggleDialog()"
          >
            Cancel
          </button>
          <button pButton class="submit-btn" (click)="addOfferSubmit()">
            Send Offer
          </button>
        </div>
      </form>

      <div *ngIf="!user.user?.isValidated">
        <div class="verify-container">
          <img class="verify-image" src="assets/images/verify-acc.png" />
          <h1>Your account is not yet verified.</h1>
          <p>Verify your account on your profile page to proceed.</p>
          <button
            style="margin-top: 1rem"
            pButton
            class="offer-btn"
            [routerLink]="['/supplier/profile']"
          >
            Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</p-dialog>

<!-- View offer modal -->
<p-dialog
  header="View offer"
  [modal]="true"
  [(visible)]="openViewOfferDialog"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <div>
      <h1 class="crop-name">Place your final offer.</h1>
      <p>
        <i>
          Note: You can edit your initial offer and send it as your final offer,
          or simply send your initial offer as your final. Also make sure that
          your Bank No./Gcash No. is correct because we will not be liable for
          the wrong transactions that both parties made.</i
        >
      </p>
    </div>
    <div class="pending-text">
      <p *ngIf="!finalOfferForm.controls['isAccepted'].getRawValue()">
        Supplier has either withrawn or hasn't accepted your offer yet.
      </p>
    </div>

    <mat-divider class="divider"></mat-divider>
    <div class="edit-offer-btn-container">
      <button
        class="edit-offer-btn"
        icon="pi pi-pencil"
        iconPos="right"
        label="Edit"
        pButton
        (click)="toggleEditFinalOffer()"
        [disabled]="
          !postAdvertisementResponse?.isAccepted ||
          postAdvertisementResponse?.isFinalOfferSubmitted
        "
      ></button>
    </div>

    <div>
      <form [formGroup]="finalOfferForm">
        <div>
          <div
            class="form-field"
            [ngClass]="{
              'form-field': editFinalOffer,
              'summary-field': !editFinalOffer
            }"
          >
            <label class="form-label">Crop Name:</label>
            <input
              *ngIf="editFinalOffer"
              [ngClass]="{
                'invalid-field':
                  finalOfferForm.controls['cropName'].invalid &&
                  (finalOfferForm.controls['cropName'].dirty ||
                    finalOfferForm.controls['cropName'].touched)
              }"
              pInputText
              formControlName="cropName"
              type="text"
              min="0"
            />
            <h3 class="offer-text" *ngIf="!editFinalOffer">
              {{ finalOfferForm.getRawValue().cropName }}
            </h3>
          </div>
          <div
            class="form-field"
            [ngClass]="{
              'form-field': editFinalOffer,
              'summary-field': !editFinalOffer
            }"
          >
            <label class="form-label">Price:</label>
            <input
              *ngIf="editFinalOffer"
              [ngClass]="{
                'invalid-field':
                  finalOfferForm.controls['price'].invalid &&
                  (finalOfferForm.controls['price'].dirty ||
                    finalOfferForm.controls['price'].touched)
              }"
              pInputText
              formControlName="price"
              type="number"
              min="0"
            />
            <h3 class="offer-text" *ngIf="!editFinalOffer">
              ₱ {{ finalOfferForm.getRawValue().price }}
            </h3>
          </div>
          <div
            [ngClass]="{
              'form-field': editFinalOffer,
              'summary-field': !editFinalOffer
            }"
          >
            <label class="form-label">Quantity:</label>
            <input
              *ngIf="editFinalOffer"
              [ngClass]="{
                'invalid-field':
                  finalOfferForm.controls['quantity'].invalid &&
                  (finalOfferForm.controls['quantity'].dirty ||
                    finalOfferForm.controls['quantity'].touched)
              }"
              pInputText
              formControlName="quantity"
              type="text"
              min="0"
            />
            <h3 class="offer-text" *ngIf="!editFinalOffer">
              {{ finalOfferForm.getRawValue().quantity }}
            </h3>
          </div>
          <div
            [ngClass]="{
              'form-field': editFinalOffer,
              'summary-field': !editFinalOffer
            }"
          >
            <label class="form-label">Measurement:</label>
            <p-dropdown
              *ngIf="editFinalOffer"
              [ngClass]="{
                'spec-field':
                  finalOfferForm.controls['measurement'].invalid &&
                  (finalOfferForm.controls['measurement'].dirty ||
                    finalOfferForm.controls['measurement'].touched)
              }"
              formControlName="measurement"
              placeholder="Select measurement"
              [options]="measurementOptions"
              optionLabel="label"
              optionValue="value"
            >
            </p-dropdown>
            <h3 class="offer-text" *ngIf="!editFinalOffer">
              {{ finalOfferForm.getRawValue().measurement }}
            </h3>
          </div>

          <div
            [ngClass]="{
              'form-field': editFinalOffer,
              'summary-field': !editFinalOffer
            }"
          >
            <label class="form-label">Payment Mode:</label>
            <p-dropdown
              *ngIf="editFinalOffer"
              [ngClass]="{
                'spec-field':
                  finalOfferForm.controls['paymentMode'].invalid &&
                  (finalOfferForm.controls['paymentMode'].dirty ||
                    finalOfferForm.controls['paymentMode'].touched)
              }"
              formControlName="paymentMode"
              placeholder="Select payment method"
              [options]="paymentOptions"
              optionLabel="label"
              optionValue="value"
            >
            </p-dropdown>
            <h3 class="offer-text" *ngIf="!editFinalOffer">
              {{ finalOfferForm.getRawValue().paymentMode }}
            </h3>
          </div>
        </div>

        <div
          [ngClass]="{
            'form-field': editFinalOffer,
            'summary-field': !editFinalOffer
          }"
        >
          <label class="form-label">Bank No./Gcash No.:</label>
          <input
            *ngIf="editFinalOffer"
            [ngClass]="{
              'invalid-field':
                finalOfferForm.controls['mobilenumBanknumber'].invalid &&
                (finalOfferForm.controls['mobilenumBanknumber'].dirty ||
                  finalOfferForm.controls['mobilenumBanknumber'].touched)
            }"
            pInputText
            type="text"
            formControlName="mobilenumBanknumber"
          />
          <h3 class="offer-text" *ngIf="!editFinalOffer">
            <!-- {{ finalOfferForm.getRawValue().mobilenumBanknumber }} -->
            <input
              [ngClass]="{
                'invalid-field':
                  finalOfferForm.controls['mobilenumBanknumber'].invalid &&
                  (finalOfferForm.controls['mobilenumBanknumber'].dirty ||
                    finalOfferForm.controls['mobilenumBanknumber'].touched)
              }"
              pInputText
              type="text"
              formControlName="mobilenumBanknumber"
            />
          </h3>
        </div>
      </form>
      <mat-divider class="divider" style="margin-top: 1rem"></mat-divider>
    </div>

    <div class="action-container">
      <button
        pButton
        class="p-button-outlined p-button-secondary cancel-btn"
        (click)="
          this.finalOfferForm.reset();
          this.openViewOfferDialog = !this.openViewOfferDialog
        "
      >
        Cancel
      </button>
      <button
        pButton
        [disabled]="
          !postAdvertisementResponse?.isAccepted ||
          postAdvertisementResponse?.isFinalOfferSubmitted
        "
        class="submit-btn"
        (click)="submitFinalOffer()"
      >
        Send Final Offer
      </button>
    </div>
  </div>
</p-dialog>
