.mainBg {
    justify-content: center;
    background-image: url('./../../../../../assets/images/products.png');
    // background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 60px;
}

.main {
    padding: 50px;
    border-radius: 10px;
}

.header {
    text-shadow: 1px 1px 10px black;
}

.items {
    background: rgb(255, 255, 255);
    background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(203, 203, 255, 1) 34%, rgba(175, 176, 255, 1) 59%, rgba(201, 223, 227, 1) 92%);
    transform: scale(0.9, 0.9);
    padding: 25px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}