<app-side-nav>
  <div class="mainBg">
    <div class="main">
      <div class="container mt-3 mb-3">
        <div class="row">
          <div class="col">
            <p class="h3">My Orders</p>
          </div>
        </div>
      </div>
      <div class="container shadow p-5">
        <div class="row">
          <div class="col d-flex flex-row-reverse">
            <a class="button">MANAGE</a>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Crop Name</th>
                  <th>Order Status</th>
                  <th>Quantity</th>
                  <th *ngIf="currentUserType == 'Supplier'">Farmer's Name</th>
                  <th *ngIf="currentUserType == 'Farmer'">Supplier's Name</th>
                  <th>Payment Mode</th>
                  <th>Payment Reference No.</th>
                  <th class="text-center">Proof Of Payment</th>
                  <th>Payment Date</th>
                  <th>Payment Receive Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  style="cursor: pointer"
                  *ngFor="let detail of cropPayments; let i = index"
                >
                  <td>{{ detail.cropOrder.orderIdRef }}</td>
                  <td>{{ detail.cropOrder.sellCropDetail.cropName }}</td>
                  <td>{{ detail.cropOrder.orderStatus }}</td>
                  <td>{{ detail.cropOrder.sellCropDetail.quantity }}</td>
                  <td>
                    {{ detail.cropOrder.supplier.user.firstName }}
                    {{ detail.cropOrder.supplier.user.middleName }}
                    {{ detail.cropOrder.supplier.user.lastName }}
                  </td>
                  <td>{{ detail.cropOrder.sellCropDetail.paymentMode }}</td>
                  <td>{{ detail.transcationReferenceNumber }}</td>
                  <td class="text-center">
                    <a [href]="detail?.proofOfPaymentImage"
                      ><i class="pi pi-image"></i>
                    </a>
                  </td>
                  <td>{{ detail.payDate | date : "MMMM dd YYYY HH:mm a" }}</td>
                  <td>
                    {{
                      detail.cropOrder.paymentReceivedDate
                        | date : "MMMM dd YYYY HH:mm a"
                    }}
                  </td>

                  <td>
                    <button
                      *ngIf="
                        detail.cropOrder.orderStatus ==
                        'proof of payment submitted'
                      "
                      class="btn btn-success"
                      (click)="changeStatus(detail)"
                    >
                      Payment Received?
                    </button>
                    <button
                      *ngIf="detail.cropOrder.orderStatus == 'To deliver'"
                      class="btn btn-danger"
                      (click)="changeStatus(detail)"
                    >
                      Mistake? payment not received
                    </button>
                    <p *ngIf="detail.cropOrder.orderStatus == 'Completed'">
                      No Action needed
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-side-nav>
