<app-side-nav>
  <div class="mainBg" data-aos="zoom-out" data-aos-duration="333">
    <div class="main" data-aos="fade-right" data-aos-duration="333">
      <div class="container">
        <div class="row">
          <div class="col" data-aos="fade-right" data-aos-duration="333">
            <p class="h1 header mt-2 text-light">PRODUCTS</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex flex-row-reverse mt-3 mb-3 w-100">
              <button
                class="btn btn-primary"
                data-aos="fade-right"
                data-aos-duration="333"
              >
                <fa-icon
                  [icon]="faAdd"
                  [animation]="'bounce'"
                  [size]="'lg'"
                ></fa-icon
                >&nbsp; Add
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="text-center">Crop Name</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Quantity</th>
                  <th class="text-center">Payment Method</th>
                  <th class="text-center">Account Number</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let supplier of suppliers.slice(startIndex(), endIndex())
                  "
                >
                  <td class="text-center">{{ supplier.cropName }}</td>
                  <td class="text-center">
                    {{ supplier.price | currency : "PHP" : "symbol" : "1.2-2" }}
                  </td>
                  <td class="text-center">{{ supplier.quantity }}</td>
                  <td class="text-center">{{ supplier.paymentMode }}</td>
                  <td class="text-center">
                    {{ supplier.mobileNumBankNumber }}
                  </td>
                  <td class="text-center">
                    <div class="me-2 ms-2 mb-2 mt-2">
                      <button
                        class="btn btn-outline-success me-2 ms-2 mb-2 mt-2"
                      >
                        <fa-icon
                          [icon]="faPenToSquare"
                          [size]="'lg'"
                          animation="bounce"
                        ></fa-icon>
                      </button>
                      <button
                        class="btn btn-outline-danger me-2 ms-2 mb-2 mt-2"
                      >
                        <fa-icon
                          [icon]="faTrash"
                          [size]="'lg'"
                          animation="shake"
                        ></fa-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="mb-3 mt-3">
              <div class="pagination pagination-md justify-content-end">
                <li class="page-item">
                  <button
                    class="page-link"
                    [disabled]="currentPage === 1"
                    (click)="changePage(currentPage - 1)"
                  >
                    Previous
                  </button>
                </li>
                <li class="page-item">
                  <button class="page-link" disabled>{{ currentPage }}</button>
                </li>

                <li class="page-item">
                  <button
                    class="page-link"
                    [disabled]="endIndex() >= suppliers.length"
                    (click)="changePage(currentPage + 1)"
                  >
                    Next
                  </button>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-side-nav>
