<app-side-nav>
  <section>
    <div class="container" data-aos="fade-right" data-aos-duration="333">
      <div style="margin-bottom: 3rem">
        <p class="h1 mb-3 title">FARMING TIPS</p>
      </div>

      <div class="search-container">
        <span class="p-input-icon-left search-input">
          <i class="pi pi-search"></i>
          <input
            #pInputText
            pInputText
            type="text"
            (input)="dt1.filterGlobal(pInputText.value, 'contains')"
            placeholder="Search keyword"
          />
        </span>

        <button
          pButton
          class="offer-btn"
          (click)="toggleAddFarmingTip(); addFarmingTipForm.reset()"
        >
          Add Farming Tip
        </button>
      </div>

      <p-table
        #dt1
        [value]="farmingTips"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 15, 20]"
        [loading]="loading"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['tipMessage']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 15rem">
              <div class="th-text">Title</div>
            </th>
            <th style="min-width: 15rem">
              <div class="th-text">Action</div>
            </th>
          </tr></ng-template
        >

        <ng-template pTemplate="body" let-farmingTip>
          <tr>
            <td style="width: 85%">
              <span class="ml-1 vertical-align-middle">{{
                farmingTip.title
              }}</span>
            </td>
            <td style="width: 5%">
              <p-button
                (click)="selectFarmingTip(farmingTip); toggleEditFarmingTip()"
                type="button"
                styleClass="p-button-rounded p-button-text"
                pTooltip="Edit tip"
                tooltipPosition="bottom"
                ><span class="material-symbols-outlined"> edit </span></p-button
              >
              <p-button
                (click)="deleteFarmingTip(farmingTip)"
                styleClass="p-button-rounded p-button-danger p-button-text"
                pTooltip="Delete tip"
                tooltipPosition="bottom"
                ><span class="material-symbols-outlined">
                  delete
                </span></p-button
              >
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="7" class="text-center">
              <div class="no-info">
                <img class="no-info-image" src="assets/images/no-result.png" />
                <div class="no-info-text">
                  <h1>No results found</h1>
                  <p>We couldn't find what you searched for.</p>
                  <p>Try searching again.</p>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</app-side-nav>

<!-- add modal -->
<p-dialog
  header="Add farming tip"
  [modal]="true"
  [(visible)]="isAddTip"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
  [closable]="false"
>
  <div class="container">
    <form [formGroup]="addFarmingTipForm">
      <div class="form-field">
        <label>Title:</label>
        <input
          [ngClass]="{
            'invalid-field':
              addFarmingTipForm.controls['title'].invalid &&
              (addFarmingTipForm.controls['title'].dirty ||
                addFarmingTipForm.controls['title'].touched)
          }"
          pInputText
          formControlName="title"
          type="text"
        />
        <div
          class="invalid-text"
          *ngIf="
            addFarmingTipForm.controls['title'].invalid &&
            (addFarmingTipForm.controls['title'].dirty ||
              addFarmingTipForm.controls['title'].touched)
          "
        >
          <p>This Field is Required.</p>
        </div>
      </div>

      <div class="form-field">
        <label>Description:</label>
        <textarea
          [ngClass]="{
            'invalid-field':
              addFarmingTipForm.controls['description'].invalid &&
              (addFarmingTipForm.controls['description'].dirty ||
                addFarmingTipForm.controls['description'].touched)
          }"
          pInputTextarea
          formControlName="description"
          rows="3"
        ></textarea>
        <div
          class="invalid-text"
          *ngIf="
            addFarmingTipForm.controls['description'].invalid &&
            (addFarmingTipForm.controls['description'].dirty ||
              addFarmingTipForm.controls['description'].touched)
          "
        >
          <p>This Field is Required.</p>
        </div>
      </div>

      <div class="form-field">
        <label>Link:</label>
        <input
          [ngClass]="{
            'invalid-field':
              addFarmingTipForm.controls['link'].invalid &&
              (addFarmingTipForm.controls['link'].dirty ||
                addFarmingTipForm.controls['link'].touched)
          }"
          pInputText
          formControlName="link"
          type="text"
        />
        <div
          class="invalid-text"
          *ngIf="
            addFarmingTipForm.controls['link'].invalid &&
            (addFarmingTipForm.controls['link'].dirty ||
              addFarmingTipForm.controls['link'].touched)
          "
        >
          <p>This Field is Required.</p>
        </div>
      </div>

      <div class="form-control mb-3" style="margin-top: 2rem">
        <label for="image" class="form-label mt-2">Select picture</label>
        <input
          class="form-control form-control-lg"
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
        />
        <div class="mb-3 mt-3 image-container">
          <img
            [ngClass]="{
              'preview-image': imagePreviewUrl
            }"
            [src]="imagePreviewUrl"
            width="100%"
          />
        </div>
      </div>
    </form>
    <div class="action-container">
      <button
        pButton
        class="p-button-outlined p-button-secondary cancel-btn"
        (click)="addFarmingTipForm.reset(); toggleAddFarmingTip()"
      >
        Close
      </button>
      <button pButton class="submit-btn" (click)="addFarmingTipSubmit()">
        Add
      </button>
    </div>
  </div>
</p-dialog>

<!-- edit Farming tip modal -->
<p-dialog
  header="Edit farming tip"
  [modal]="true"
  [(visible)]="isEditTip"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
  [maximizable]="true"
>
  <div class="container">
    <form [formGroup]="editFarmingTipForm">
      <div class="date-container">
        <p>
          <i
            >Date Created:
            {{
              editFarmingTipForm.getRawValue().dateCreated
                | date : "MMM dd, yyyy h:mm aa"
            }}</i
          >
        </p>
        <p>
          <i
            >Date Modified:
            {{
              editFarmingTipForm.getRawValue().dateModified != null
                ? (editFarmingTipForm.getRawValue().dateModified
                  | date : "MMM dd, yyyy h:mm aa")
                : "Not yet modified"
            }}</i
          >
        </p>
      </div>

      <mat-divider class="divider"></mat-divider>
      <div class="form-field">
        <label>Title:</label>
        <input
          [ngClass]="{
            'invalid-field':
              editFarmingTipForm.controls['title'].invalid &&
              (editFarmingTipForm.controls['title'].dirty ||
                editFarmingTipForm.controls['title'].touched)
          }"
          pInputText
          formControlName="title"
          type="text"
        />
        <div
          class="invalid-text"
          *ngIf="
            editFarmingTipForm.controls['title'].invalid &&
            (editFarmingTipForm.controls['title'].dirty ||
              editFarmingTipForm.controls['title'].touched)
          "
        >
          <p>This Field is Required.</p>
        </div>
      </div>

      <div class="form-field">
        <label>Description:</label>
        <textarea
          [ngClass]="{
            'invalid-field':
              editFarmingTipForm.controls['description'].invalid &&
              (editFarmingTipForm.controls['description'].dirty ||
                editFarmingTipForm.controls['description'].touched)
          }"
          pInputTextarea
          formControlName="description"
          rows="3"
        ></textarea>
        <div
          class="invalid-text"
          *ngIf="
            editFarmingTipForm.controls['description'].invalid &&
            (editFarmingTipForm.controls['description'].dirty ||
              editFarmingTipForm.controls['description'].touched)
          "
        >
          <p>This Field is Required.</p>
        </div>
      </div>

      <div class="form-field">
        <label>Link:</label>
        <input
          [ngClass]="{
            'invalid-field':
              editFarmingTipForm.controls['link'].invalid &&
              (editFarmingTipForm.controls['link'].dirty ||
                editFarmingTipForm.controls['link'].touched)
          }"
          pInputText
          formControlName="link"
          type="text"
        />
        <div
          class="invalid-text"
          *ngIf="
            editFarmingTipForm.controls['link'].invalid &&
            (editFarmingTipForm.controls['link'].dirty ||
              editFarmingTipForm.controls['link'].touched)
          "
        >
          <p>This Field is Required.</p>
        </div>
      </div>

      <div class="form-control mb-3" style="margin-top: 2rem">
        <label for="image" class="form-label mt-2">Select picture</label>
        <input
          class="form-control form-control-lg"
          type="file"
          accept="image/*"
          (change)="onImageSelected($event)"
        />
        <div class="mb-3 mt-3 image-container">
          <img class="preview-image" [src]="imagePreviewUrl" width="100%" />
        </div>
      </div>
    </form>

    <div class="action-container">
      <button
        pButton
        class="p-button-outlined p-button-secondary cancel-btn"
        (click)="editFarmingTipForm.reset(); toggleEditFarmingTip()"
      >
        Close
      </button>
      <button pButton class="submit-btn" (click)="editFarmingTipSubmit()">
        Save changes
      </button>
    </div>
  </div>
</p-dialog>
